@media (max-width: 1259px) {
  .wrapper main .ui-table-head {
    padding: 20px;
  }
  .wrapper main .ui-table-tr {
    padding: 20px;
  }
  .wrapper main .page_content .inner {
    width: 980px;
  }
  .wrapper main .page_content .advantages-item {
    width: 313px;
    margin-right: 20px;
    padding: 20px;
  }
  .wrapper main .page_content .benefits-main-item {
    width: 313px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 27px 20px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main {
    width: calc(100% - 330px);
    margin-right: 20px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(n) {
    margin-right: 20px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-content_in-box {
    width: 310px;
  }
  .wrapper main .page_content .features-item {
    width: calc((100% - 150px) / 4);
    margin-right: 50px;
  }
  .wrapper main .page_content .how_work-item {
    width: 210px;
  }
  .wrapper main .page_content .how_work-item:after {
    left: calc(100% - 15px);
    width: 75px;
  }
  .wrapper main .page_content .law_info-txt {
    font-size: 18px;
    line-height: 26px;
  }
  .wrapper main .page_content .superiority-descr {
    max-width: 840px;
  }
  .wrapper main .page_content .superiority-item {
    width: 470px;
  }
  .wrapper main .page_content .superiority-item:nth-child(3) {
    margin-top: 30px;
  }
  .wrapper main .page_content .superiority-item:nth-child(3n) {
    margin-right: 40px;
  }
  .wrapper main .page_content .superiority-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .superiority-item br {
    display: none;
  }
  .wrapper main .page_content .tabs-content .services-item {
    padding: 30px 0 0 30px;
  }
  .wrapper main .page_content .tabs-content .services-item-title {
    max-width: 220px;
    font-size: 26px;
  }
  .wrapper main .page_content .tabs-content .services-item-desc {
    max-width: 220px;
    font-size: 18px;
  }
  .wrapper main .page_content .tabs-content .services-item-list {
    max-width: 220px;
    font-size: 18px;
  }
  .wrapper main .page_content .tabs-content .services-item-img img {
    max-width: 240px;
  }
  .popup-inner {
    width: 980px;
  }
}
@media (max-width: 999px) {
  .wrapper main .ui-h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .wrapper main .ui-range-inp {
    width: 160px;
    font-size: 24px;
  }
  .wrapper main .ui-range-slider {
    width: 100%;
  }
  .wrapper main .ui-range-slider-wrap {
    padding: 11.5px 0;
  }
  .wrapper main .ui-range-slider-pips span {
    font-size: 12px;
  }
  .wrapper main .ui-dropdown_list-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
  }
  .wrapper main .page_content .inner {
    width: 740px;
  }
  .wrapper main .page_content .advantages-item {
    width: calc((100% - 40px) / 2);
    margin-right: 40px;
    padding: 25px 20px;
  }
  .wrapper main .page_content .advantages-item:nth-child(3) {
    margin-top: 30px;
  }
  .wrapper main .page_content .advantages-item:nth-child(3n) {
    margin-right: 40px;
  }
  .wrapper main .page_content .advantages-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-main-item {
    width: calc((100% - 40px) / 2);
    margin-right: 40px;
    margin-top: 30px;
  }
  .wrapper main .page_content .benefits-main-item:nth-child(3) {
    margin-top: 30px;
  }
  .wrapper main .page_content .benefits-main-item:nth-child(3n) {
    margin-right: 40px;
  }
  .wrapper main .page_content .benefits-main-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-content_in {
    display: block;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main {
    width: auto;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main:last-child {
    margin-bottom: 0;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item {
    padding: 15px 27px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(n) {
    margin-right: 40px;
    margin-top: 30px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(-n+2) {
    margin-top: 0;
  }
  .wrapper main .page_content .benefits-content_in-box {
    width: auto;
    min-height: 130px;
  }
  .wrapper main .page_content .benefits-content_in-box-txt {
    max-width: 440px;
  }
  .wrapper main .page_content .benefits-content_in-box-img {
    width: 215px;
  }
  .wrapper main .page_content .excellence-container .excellence-title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .wrapper main .page_content .excellence-container .excellence-box {
    width: 235px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .page_content .excellence-container .excellence-box:last-child {
    margin-right: 0;
  }
  .wrapper main .page_content .excellence-container .excellence-box-icon {
    width: 80px;
    height: 80px;
  }
  .wrapper main .page_content .features-container {
    padding: 40px 0 60px;
  }
  .wrapper main .page_content .features-item {
    width: calc((100% - 75px) / 4);
    margin-right: 25px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .page_content .features-item-icon {
    width: 80px;
    height: 80px;
  }
  .wrapper main .page_content .how_work-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper main .page_content .how_work-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88%;
    min-width: 280px;
    min-height: 60px;
    margin-bottom: 30px;
  }
  .wrapper main .page_content .how_work-item:last-child {
    margin-bottom: 0;
  }
  .wrapper main .page_content .how_work-item:after {
    top: 70px;
    left: 30px;
    width: 1px;
    height: calc(100% + 30px - 60px - 20px);
  }
  .wrapper main .page_content .how_work-item-icon {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
  }
  .wrapper main .page_content .how_work-item-txt {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: left;
  }
  .wrapper main .page_content .law_info-wrapper {
    padding: 30px 30px 30px 280px;
  }
  .wrapper main .page_content .law_info-txt {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper main .page_content .law_info-img {
    width: 300px;
  }
  .wrapper main .page_content .list_big_ch-container {
    margin-bottom: 60px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-wrapper {
    padding: 40px 0;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li {
    width: calc((100% - 50px) / 2);
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li:nth-child(n) {
    margin-right: 50px;
    margin-top: 30px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li:nth-child(-n+2) {
    margin-top: 0;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .requirement_list-item-icon {
    margin-right: 15px;
  }
  .wrapper main .page_content .services-wrapper {
    display: block;
  }
  .wrapper main .page_content .services-item {
    position: relative;
    display: block;
    min-height: auto;
    width: auto;
    margin-right: 0;
    margin-top: 20px;
    padding: 30px 100px 40px 20px;
  }
  .wrapper main .page_content .services-item:nth-child(2) {
    margin-top: 20px;
  }
  .wrapper main .page_content .services-item-icon {
    position: absolute;
    right: 25px;
    bottom: 20px;
    margin: 0;
  }
  .wrapper main .page_content .steps-title {
    font-size: 30px;
  }
  .wrapper main .page_content .steps-item {
    width: 190px;
    margin-right: 55px;
    font-size: 18px;
  }
  .wrapper main .page_content .steps-item:after {
    top: 40px;
    left: 167px;
  }
  .wrapper main .page_content .steps-item-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
  }
  .wrapper main .page_content .superiority-container {
    padding: 40px 0 45px;
  }
  .wrapper main .page_content .superiority-descr {
    max-width: 630px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 29px;
  }
  .wrapper main .page_content .superiority-item {
    width: calc((100% - 40px) / 2);
  }
  .wrapper main .page_content .superiority-item br {
    display: inline;
  }
  .wrapper main .page_content .tabs-container {
    padding: 40px 0 50px;
  }
  .wrapper main .page_content .tabs-head-item {
    font-size: 18px;
  }
  .wrapper main .page_content .tabs-head_gr-item {
    font-size: 18px;
  }
  .wrapper main .page_content .tabs-content-item-txt_inn {
    padding-left: 0;
  }
  .wrapper main .page_content .tabs-content-txt {
    width: 50%;
  }
  .wrapper main .page_content .tabs-content-txt-title {
    font-size: 20px;
  }
  .wrapper main .page_content .tabs-content-txt-list {
    font-size: 16px;
  }
  .wrapper main .page_content .tabs-content .services-wrapper {
    display: block;
  }
  .wrapper main .page_content .tabs-content .services-item {
    width: auto;
    min-height: 280px;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 40px 0 0 60px;
  }
  .wrapper main .page_content .tabs-content .services-item:last-child {
    margin-bottom: 0;
  }
  .wrapper main .page_content .tabs-content .services-item-title {
    max-width: 300px;
    font-size: 30px;
  }
  .wrapper main .page_content .tabs-content .services-item-desc {
    max-width: 300px;
    font-size: 20px;
  }
  .wrapper main .page_content .tabs-content .services-item-list {
    max-width: 300px;
    font-size: 20px;
  }
  .popup-inner {
    width: 740px;
    padding: 25px 20px 50px;
  }
}
@media (max-width: 767px) {
  .wrapper main .ui-h2 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
  }
  .wrapper main .ui-btn {
    padding: 10px 25px;
    font-size: 12px;
  }
  .wrapper main .ui-btn_white {
    padding: 10px 25px;
    font-size: 12px;
  }
  .wrapper main .ui-ul_list {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .ui-ul_list li {
    margin-bottom: 10px;
  }
  .wrapper main .ui-ul_list li:before {
    top: 7px;
  }
  .wrapper main .ui-ul_list_line {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .ui-ul_list_line li:before {
    top: 0;
  }
  .wrapper main .ui-dropdown_list-title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 28px;
  }
  .wrapper main .ui-dropdown_list-item {
    margin-bottom: 10px;
  }
  .wrapper main .ui-dropdown_list-item-head {
    position: relative;
    padding: 14px 60px 14px 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .ui-dropdown_list-item-head:after {
    right: 17px;
    top: 21px;
    width: 15px;
    height: 10px;
  }
  .wrapper main .ui-dropdown_list-item-main {
    padding: 10px 20px 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .ui-dropdown_list-item-main p {
    margin-bottom: 10px;
  }
  .wrapper main .ui-dropdown_list-item-main ul {
    margin: 0 0 10px;
  }
  .wrapper main .ui-dropdown_list-item-main ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .wrapper main .ui-dropdown_list-item-main ul li:before {
    top: 8px;
  }
  .wrapper main .ui-dropdown_list-item-tabs-head-item {
    margin-right: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .ui-dropdown_list-item-tabs-main {
    padding-top: 20px;
  }
  .wrapper main .ui-dropdown_list-docs-item {
    font-size: 14px;
  }
  .wrapper main .ui-dropdown_list-docs-item a {
    color: #596a7c;
  }
  .wrapper main .ui-dropdown_list-docs-item span {
    color: #373a36;
  }
  .wrapper main .ui-dropdown_list-docs_icon-item-in {
    min-height: 34px;
    padding-left: 45px;
    font-size: 16px;
  }
  .wrapper main .ui-dropdown_list-docs_icon-item-in:before {
    width: 34px;
    height: 34px;
  }
  .wrapper main .ui-table-head {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .ui-table-tr {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .page_content .inner {
    width: 100%;
    min-width: 320px;
    padding: 0 10px;
  }
  .wrapper main .page_content .txt_block .txt_block-main p {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .page_content .advantages-container {
    padding: 40px 0 50px;
  }
  .wrapper main .page_content .advantages-wrapper {
    display: block;
  }
  .wrapper main .page_content .advantages-item {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }
  .wrapper main .page_content .advantages-item:nth-child(2),
  .wrapper main .page_content .advantages-item:nth-child(3) {
    margin-top: 20px;
  }
  .wrapper main .page_content .advantages-item:nth-child(3n) {
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-main {
    display: block;
  }
  .wrapper main .page_content .benefits-main-item {
    width: auto;
    margin-right: 0;
    margin-top: 15px;
    padding: 27px 30px;
  }
  .wrapper main .page_content .benefits-main-item:nth-child(2),
  .wrapper main .page_content .benefits-main-item:nth-child(3) {
    margin-top: 15px;
  }
  .wrapper main .page_content .benefits-main-item:nth-child(3n) {
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main {
    margin-bottom: 15px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(n) {
    margin-top: 15px;
    margin-right: 0;
  }
  .wrapper main .page_content .benefits-content_in .benefits-main-item:nth-child(1) {
    margin-top: 0;
  }
  .wrapper main .page_content .benefits-content_in-box {
    padding: 20px 125px 20px 20px;
  }
  .wrapper main .page_content .benefits-content_in-box-txt {
    max-width: none;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .page_content .benefits-content_in-box-img {
    width: 124px;
  }
  .wrapper main .page_content .docs-container .docs-item {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .page_content .docs-container .docs-item a {
    min-height: 30px;
    padding-left: 45px;
  }
  .wrapper main .page_content .docs-container .docs-item a:before {
    width: 30px;
    height: 30px;
  }
  .wrapper main .page_content .excellence-container .excellence-title {
    font-size: 22px;
    line-height: 26px;
  }
  .wrapper main .page_content .excellence-container .excellence-wrapper {
    display: block;
  }
  .wrapper main .page_content .excellence-container .excellence-box {
    width: auto;
    max-width: 260px;
    margin-right: 0;
    margin: 0 auto 40px;
  }
  .wrapper main .page_content .excellence-container .excellence-box:last-child {
    margin-bottom: 0;
    margin-right: auto;
  }
  .wrapper main .page_content .excellence-container .excellence-box-icon {
    width: 60px;
    height: 60px;
  }
  .wrapper main .page_content .features-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper main .page_content .features-item {
    width: calc((100% - 45px) / 2);
    margin-right: 45px;
    margin-top: 30px;
  }
  .wrapper main .page_content .features-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .page_content .features-item:nth-child(-n+2) {
    margin-top: 0;
  }
  .wrapper main .page_content .features-item-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
  }
  .wrapper main .page_content .features-item br {
    display: none;
  }
  .wrapper main .page_content .law_info-wrapper {
    min-height: auto;
    padding: 30px 20px 155px;
  }
  .wrapper main .page_content .law_info-img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow: hidden;
  }
  .wrapper main .page_content .law_info-img img {
    display: none;
  }
  .wrapper main .page_content .law_info-img img.img_mobile {
    display: block;
  }
  .wrapper main .page_content .list_big_ch-container {
    margin-bottom: 50px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-wrapper {
    padding: 30px 0;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-title {
    font-size: 20px;
    line-height: 26px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list {
    display: block;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li {
    width: auto;
    min-height: 24px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 40px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li:nth-child(n) {
    margin-right: 0;
    margin-top: 25px;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li:nth-child(1) {
    margin-top: 0;
  }
  .wrapper main .page_content .list_big_ch-container .list_big_ch-list li::before {
    width: 24px;
    height: 24px;
  }
  .wrapper main .page_content .requirement_list-item {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .page_content .requirement_list-item-icon {
    width: 34px;
    height: 34px;
    margin-right: 20px;
  }
  .wrapper main .page_content .services-item {
    padding: 30px 30px 35px 20px;
  }
  .wrapper main .page_content .services-item-icon {
    right: 20px;
    bottom: 20px;
    width: 44px;
    height: 44px;
  }
  .wrapper main .page_content .services-item-title {
    font-size: 20px;
  }
  .wrapper main .page_content .services-item-desc {
    margin-bottom: 35px;
    font-size: 16px;
  }
  .wrapper main .page_content .steps-container {
    padding: 40px 0;
  }
  .wrapper main .page_content .steps-title {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .wrapper main .page_content .steps-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper main .page_content .steps-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    min-height: 60px;
    margin-right: 0;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: left;
  }
  .wrapper main .page_content .steps-item:last-child {
    margin-bottom: 0;
  }
  .wrapper main .page_content .steps-item:after {
    top: 70px;
    left: 30px;
    width: 1px;
    height: calc(100% + 50px - 60px - 20px);
  }
  .wrapper main .page_content .steps-item-icon {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
  }
  .wrapper main .page_content .steps-item-txt {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .wrapper main .page_content .superiority-container {
    padding: 40px 0 60px;
  }
  .wrapper main .page_content .superiority-wrapper {
    display: block;
  }
  .wrapper main .page_content .superiority-descr {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .page_content .superiority-item {
    width: auto;
    min-height: 100px;
    margin-right: 0;
    margin-top: 15px;
    padding: 15px 20px 20px;
  }
  .wrapper main .page_content .superiority-item:nth-child(3),
  .wrapper main .page_content .superiority-item:nth-child(2) {
    margin-top: 15px;
  }
  .wrapper main .page_content .superiority-item:nth-child(3n) {
    margin-right: 0;
  }
  .wrapper main .page_content .superiority-item br {
    display: none;
  }
  .wrapper main .page_content .tabs-container {
    padding: 40px 0 60px;
  }
  .wrapper main .page_content .tabs-head-item {
    padding-bottom: 10px;
    border-bottom-width: 3px;
    font-size: 16px;
  }
  .wrapper main .page_content .tabs-head_gr-item {
    padding-bottom: 10px;
    border-bottom-width: 3px;
    font-size: 16px;
  }
  .wrapper main .page_content .tabs-content {
    padding-top: 25px;
  }
  .wrapper main .page_content .tabs-content-txt {
    width: 60%;
    margin-right: 5px;
  }
  .wrapper main .page_content .tabs-content-txt-title {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .wrapper main .page_content .tabs-content-txt-list {
    font-size: 14px;
  }
  .wrapper main .page_content .tabs-content-txt-list li {
    margin-bottom: 10px;
  }
  .wrapper main .page_content .tabs-content-img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .wrapper main .page_content .tabs-content-img.cards {
    margin-top: 50px;
    width: 340px;
  }
  .wrapper main .page_content .tabs-content-img.apple {
    margin-top: 80px;
    width: 300px;
  }
  .wrapper main .page_content .tabs-content-img.terminal {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin-right: -140px;
    margin-top: 60px;
    width: 315px;
  }
  .wrapper main .page_content .tabs-content-img.kassa {
    margin-top: 45px;
    width: 290px;
  }
  .wrapper main .page_content .tabs-content .services-wrapper {
    margin-right: 10px;
  }
  .wrapper main .page_content .tabs-content .services-item {
    position: relative;
    min-height: 225px;
    padding: 25px 0 0 15px;
  }
  .wrapper main .page_content .tabs-content .services-item-txt {
    padding-bottom: 25px;
  }
  .wrapper main .page_content .tabs-content .services-item-title {
    font-size: 26px;
  }
  .wrapper main .page_content .tabs-content .services-item-desc {
    font-size: 16px;
  }
  .wrapper main .page_content .tabs-content .services-item-list {
    font-size: 16px;
  }
  .wrapper main .page_content .tabs-content .services-item-btn a {
    padding: 12px 30px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .page_content .tabs-content .services-item-img {
    position: absolute;
    right: -40px;
    width: 210px;
  }
  .wrapper main .page_content .tabs-content .services-item-img img {
    max-width: 100%;
  }
  .wrapper main .page_content .tabs-content .services-item-img.girl {
    bottom: -20px;
  }
  .wrapper main .page_content .tabs-footnote {
    margin-top: 25px;
    font-size: 12px;
    line-height: 18px;
  }
  .wrapper main .page_content.page_content--build_with_atb {
    padding: 30px 0 60px;
  }
  .popup-btn_close {
    top: 25px;
    right: 10px;
    width: 26px;
    height: 26px;
  }
  .popup-inner {
    width: 100%;
    padding: 25px 10px 30px;
  }
  .popup-title {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .fancybox-close {
    top: 25px;
    right: 10px;
    width: 26px;
    height: 26px;
  }
  .fancybox-skin {
    border-radius: 0;
  }
}
@media (max-width: 374px) {
  .wrapper main .page_content .benefits-main-item {
    padding: 27px 20px;
  }
  .wrapper main .page_content .features-item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    font-size: 14px;
  }
  .wrapper main .page_content .services-item {
    padding: 15px;
  }
  .wrapper main .page_content .tabs-content-txt {
    width: 65%;
    margin-right: 10px;
  }
  .wrapper main .page_content .tabs-content-img {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .wrapper main .page_content .tabs-content-img.cards {
    margin-right: -200px;
  }
  .wrapper main .page_content .tabs-content-img.apple {
    margin-right: -110px;
    margin-top: 80px;
    width: 300px;
  }
  .wrapper main .page_content .tabs-content-img.terminal {
    margin-right: -80px;
  }
  .wrapper main .page_content .tabs-content-img.kassa {
    margin-right: -90px;
  }
  .wrapper main .page_content .tabs-content .services-item-title {
    font-size: 22px;
  }
  .wrapper main .page_content .tabs-content .services-item-desc {
    font-size: 14px;
  }
  .wrapper main .page_content .tabs-content .services-item-list {
    font-size: 14px;
  }
  .wrapper main .page_content .tabs-content .services-item-btn a {
    padding: 12px 20px;
  }
  .wrapper main .page_content .tabs-content .services-item-img {
    width: 180px;
  }
  .wrapper main .page_content .tabs-content .services-item-img.girl {
    bottom: -10px;
  }
}
