.wrapper .page_content.page_content--easy_shop {
  padding: 55px 0 110px;
}
.wrapper .page_content.page_content--easy_shop .ui-h2 {
  text-align: center;
}
.wrapper .page_content.page_content--easy_shop .prizes-container {
  margin-bottom: 75px;
}
.wrapper .page_content.page_content--easy_shop .prizes-title {
  margin-bottom: 25px;
  text-align: center;
}
.wrapper .page_content.page_content--easy_shop .prizes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .page_content.page_content--easy_shop .prizes-item {
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  padding: 35px 30px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
  border-radius: 8px;
}
.wrapper .page_content.page_content--easy_shop .prizes-item:last-child {
  margin-right: 0;
}
.wrapper .page_content.page_content--easy_shop .prizes-item-top {
  display: inline-block;
  margin-bottom: 25px;
  font: 700 40px/1 'Circe', 'Arial', sans-serif;
  background: linear-gradient(54.45deg, #FE5000 15.71%, #FCA92A 89.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wrapper .page_content.page_content--easy_shop .prizes-item-top {
    /* IE10+ CSS styles go here */
    color: #fe5000;
    background: transparent;
  }
}
.wrapper .page_content.page_content--easy_shop .prizes-item-bot {
  font: 400 20px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .participate-container {
  margin-bottom: 75px;
  padding: 50px 0 60px;
  background: #f6f6f6;
}
.wrapper .page_content.page_content--easy_shop .participate-head {
  margin-bottom: 45px;
  text-align: center;
}
.wrapper .page_content.page_content--easy_shop .participate-head-title {
  margin-bottom: 10px;
}
.wrapper .page_content.page_content--easy_shop .participate-head-desc {
  max-width: 800px;
  margin: 0 auto;
  font: 700 20px/28px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .participate-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .page_content.page_content--easy_shop .participate-main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 200px) / 2);
  margin-right: 200px;
}
.wrapper .page_content.page_content--easy_shop .participate-main-item:last-child {
  margin-right: 0;
}
.wrapper .page_content.page_content--easy_shop .participate-main-item-num {
  margin-right: 17px;
  font: 400 36px/1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
}
.wrapper .page_content.page_content--easy_shop .participate-main-item-txt-desc {
  font: 400 18px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .participate-main-item-txt-foot {
  margin-top: 20px;
  font: 300 14px/18px 'Circe', 'Arial', sans-serif;
  color: #666;
}
.wrapper .page_content.page_content--easy_shop .quote-container {
  margin-bottom: 75px;
}
.wrapper .page_content.page_content--easy_shop .quote-wrapper {
  padding: 45px 105px 40px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
  border-radius: 8px;
}
.wrapper .page_content.page_content--easy_shop .quote-text {
  position: relative;
  font: 400 18px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .quote-text:before {
  position: absolute;
  top: 3px;
  left: -65px;
  width: 42px;
  height: 38px;
  background: url("data:image/svg+xml,%3Csvg width='42' height='38' viewBox='0 0 42 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 0H11.5L0 18L11.5 38H23L11.5 18L23 0Z' fill='%23FB511E'/%3E%3Cpath d='M42 0H30.5L19 18L30.5 38H42L30.5 18L42 0Z' fill='%23FB511E'/%3E%3C/svg%3E%0A") no-repeat;
  background-size: contain;
  content: '';
}
.wrapper .page_content.page_content--easy_shop .quote-author {
  margin-top: 20px;
}
.wrapper .page_content.page_content--easy_shop .quote-author-name {
  font: 700 18px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .quote-author-post {
  font: 300 16px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .promotion-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .page_content.page_content--easy_shop .promotion-box {
  position: relative;
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  padding: 45px 245px 50px 35px;
  background: #f6f6f6;
}
.wrapper .page_content.page_content--easy_shop .promotion-box:last-child {
  margin-right: 0;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-img img {
  max-height: 100%;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-content a {
  color: #fe5000;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-title {
  font: 700 30px/40px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-desc {
  margin-top: 15px;
  font: 400 18px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-desc a {
  display: inline-block;
  border-bottom: 1px solid;
  line-height: 18px;
  text-decoration: none;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-phone {
  margin-top: 30px;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-phone-num {
  font: 400 30px/1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
}
.wrapper .page_content.page_content--easy_shop .promotion-box-phone-txt {
  margin-top: 5px;
  font: 300 16px/1.2 'Circe', 'Arial', sans-serif;
}
@media (max-width: 1259px) {
  .wrapper .page_content.page_content--easy_shop .participate-main-item {
    width: calc((100% - 45px) / 2);
    margin-right: 45px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box {
    padding: 45px 170px 50px 25px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-img {
    overflow: hidden;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-img img {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-title {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 999px) {
  .wrapper .page_content.page_content--easy_shop .prizes-item-top {
    margin-bottom: 15px;
    font-size: 30px;
  }
  .wrapper .page_content.page_content--easy_shop .prizes-item-bot {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-head {
    margin-bottom: 30px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-head-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main-item-num {
    font-size: 30px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main-item-txt-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main-item-txt-foot {
    margin-top: 13px;
    font-size: 12px;
    line-height: 18px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-wrapper {
    padding: 40px 40px 40px 100px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-wrapper {
    display: block;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 45px 245px 50px 35px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box:last-child {
    margin-bottom: 0;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-img img {
    -webkit-transform: none;
            transform: none;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .wrapper .page_content.page_content--easy_shop {
    padding: 50px 0 60px;
  }
  .wrapper .page_content.page_content--easy_shop .prizes-container {
    margin-bottom: 60px;
  }
  .wrapper .page_content.page_content--easy_shop .prizes-wrapper {
    display: block;
  }
  .wrapper .page_content.page_content--easy_shop .prizes-item {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 25px;
  }
  .wrapper .page_content.page_content--easy_shop .prizes-item:last-child {
    margin-bottom: 0;
  }
  .wrapper .page_content.page_content--easy_shop .participate-container {
    margin-bottom: 60px;
    padding: 35px 0;
  }
  .wrapper .page_content.page_content--easy_shop .participate-head-title {
    margin-bottom: 15px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main {
    display: block;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main-item {
    width: auto;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main-item:last-child {
    margin-bottom: 0;
  }
  .wrapper .page_content.page_content--easy_shop .participate-main-item-num {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 20px;
    margin-right: 5px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-container {
    margin-bottom: 60px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-wrapper {
    padding: 0 0 0 35px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .wrapper .page_content.page_content--easy_shop .quote-text {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-text:before {
    top: 0;
    left: -30px;
    width: 23px;
    height: 20px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-author {
    margin-top: 25px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-author-name {
    font-size: 16px;
  }
  .wrapper .page_content.page_content--easy_shop .quote-author-post {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box {
    min-height: 200px;
    padding: 35px 115px 40px 20px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-img img {
    display: none;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-img img.img_mobile {
    display: block;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-title {
    font-size: 24px;
    line-height: 30px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-desc {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-phone {
    margin-top: 20px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-phone-num {
    font-size: 24px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-phone-txt {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  .wrapper .page_content.page_content--easy_shop .promotion-box {
    padding: 25px 115px 30px 20px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-title {
    font-size: 20px;
    line-height: 26px;
  }
  .wrapper .page_content.page_content--easy_shop .promotion-box-phone-num {
    font-size: 20px;
  }
}
