.wrapper .form_thank-rko,
.fancybox-wrap .form_thank-rko {
  max-width: 670px;
  margin: 0 auto;
  color: #333;
}
.wrapper .form_thank-rko-h1,
.fancybox-wrap .form_thank-rko-h1 {
  margin-bottom: 35px;
  font: 400 36px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank-rko-h2,
.fancybox-wrap .form_thank-rko-h2 {
  margin-bottom: 20px;
  font: 400 22px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank-rko-txt,
.fancybox-wrap .form_thank-rko-txt {
  margin-bottom: 25px;
  font: 350 18px/1.45 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank-rko-txt p,
.fancybox-wrap .form_thank-rko-txt p {
  margin-bottom: 25px;
}
.wrapper .form_thank-rko-txt p:last-child,
.fancybox-wrap .form_thank-rko-txt p:last-child {
  margin-bottom: 0;
}
.wrapper .form_thank-rko-sign,
.fancybox-wrap .form_thank-rko-sign {
  font: 350px 16px/1.4 'Circe', 'Arial', sans-serif;
  color: #666;
}
.wrapper .form_thank-rko-home,
.fancybox-wrap .form_thank-rko-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
  font: 400 24px/28px 'Circe', 'Arial', sans-serif;
  color: #fe5000;
}
.wrapper .form_thank-rko-home img,
.fancybox-wrap .form_thank-rko-home img {
  margin-left: 10px;
}
.wrapper .form_thank_adv,
.fancybox-wrap .form_thank_adv {
  padding: 70px 0;
  background: #f6f6f6;
}
.wrapper .form_thank_adv-inner,
.fancybox-wrap .form_thank_adv-inner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 85px 85px 90px;
  border-radius: 10px;
  background-color: #fff;
}
.wrapper .form_thank_adv-txt,
.fancybox-wrap .form_thank_adv-txt {
  max-width: 790px;
  margin: 0 auto;
  text-align: center;
  color: #28282a;
}
.wrapper .form_thank_adv-txt-h1,
.fancybox-wrap .form_thank_adv-txt-h1 {
  margin-bottom: 40px;
  font: 700 40px/1.2 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank_adv-txt-h2,
.fancybox-wrap .form_thank_adv-txt-h2 {
  margin-bottom: 25px;
  font: 400 22px/32px 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank_adv-txt-desc,
.fancybox-wrap .form_thank_adv-txt-desc {
  margin-bottom: 30px;
  font: 400 18px/26px 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank_adv-txt-desc p,
.fancybox-wrap .form_thank_adv-txt-desc p {
  margin-bottom: 25px;
}
.wrapper .form_thank_adv-txt-desc p:last-child,
.fancybox-wrap .form_thank_adv-txt-desc p:last-child {
  margin-bottom: 0;
}
.wrapper .form_thank_adv-txt-foot,
.fancybox-wrap .form_thank_adv-txt-foot {
  font: 400 16px/1.2 'Circe', 'Arial', sans-serif;
}
.wrapper .form_thank_adv-offers,
.fancybox-wrap .form_thank_adv-offers {
  margin-top: 50px;
}
.wrapper .form_thank_adv-offers-inner,
.fancybox-wrap .form_thank_adv-offers-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .form_thank_adv-offers-box,
.fancybox-wrap .form_thank_adv-offers-box {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 327px;
  height: 316px;
  margin-right: 25px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #e6e8ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper .form_thank_adv-offers-box:last-child,
.fancybox-wrap .form_thank_adv-offers-box:last-child {
  margin-right: 0;
}
.wrapper .form_thank_adv-offers-box:hover,
.fancybox-wrap .form_thank_adv-offers-box:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
          box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
}
.wrapper .form_thank_adv-offers-box-content,
.fancybox-wrap .form_thank_adv-offers-box-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 35px 25px 30px;
}
.wrapper .form_thank_adv-offers-box-title,
.fancybox-wrap .form_thank_adv-offers-box-title {
  max-width: 150px;
  font: 700 22px/1.1 'Circe', 'Arial', sans-serif;
  color: #4a4a4a;
}
.wrapper .form_thank_adv-offers-box-btn,
.fancybox-wrap .form_thank_adv-offers-box-btn {
  display: inline-block;
  margin-top: auto;
  padding: 15px 32px;
  font: 400 14px/15px 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  background-color: #f6f6f6;
  color: #fe5000;
  border-radius: 6px;
}
.wrapper .form_thank_adv-offers-box-img,
.fancybox-wrap .form_thank_adv-offers-box-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper .form_thank_adv-offers-box-img img,
.fancybox-wrap .form_thank_adv-offers-box-img img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
.wrapper .form_thank_adv-offers-box.rko .form_thank_adv-offers-box-img img,
.fancybox-wrap .form_thank_adv-offers-box.rko .form_thank_adv-offers-box-img img {
  max-height: 89%;
}
.wrapper .form_thank_adv-offers-box.corp_card .form_thank_adv-offers-box-img img,
.fancybox-wrap .form_thank_adv-offers-box.corp_card .form_thank_adv-offers-box-img img {
  max-height: 65%;
}
.fancybox-wrap .form_thank_adv {
  padding: 0;
}
.fancybox-wrap .form_thank_adv-inner {
  border-radius: 0;
}
.fancybox-close {
  top: 20px;
  right: 20px;
  width: 15px;
  height: 16px;
  background: url(../img/ico_close_mid.png) no-repeat;
  background-size: contain;
}
@media (max-width: 1259px) {
  .wrapper .form_thank_adv-inner,
  .fancybox-wrap .form_thank_adv-inner {
    max-width: 980px;
    padding: 70px 50px 80px;
  }
  .wrapper .form_thank_adv-offers-box,
  .fancybox-wrap .form_thank_adv-offers-box {
    width: 275px;
    height: 266px;
  }
}
@media (max-width: 999px) {
  .wrapper .form_thank_adv-inner,
  .fancybox-wrap .form_thank_adv-inner {
    max-width: 740px;
    padding: 55px 0 60px;
    overflow: hidden;
  }
  .wrapper .form_thank_adv-txt,
  .fancybox-wrap .form_thank_adv-txt {
    padding: 0 30px;
  }
  .wrapper .form_thank_adv-offers,
  .fancybox-wrap .form_thank_adv-offers {
    overflow-y: auto;
  }
  .wrapper .form_thank_adv-offers::-webkit-scrollbar,
  .fancybox-wrap .form_thank_adv-offers::-webkit-scrollbar {
    display: none;
  }
  .wrapper .form_thank_adv-offers-inner,
  .fancybox-wrap .form_thank_adv-offers-inner {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .wrapper .form_thank-rko-h1,
  .fancybox-wrap .form_thank-rko-h1 {
    margin-bottom: 25px;
    font-size: 28px;
  }
  .wrapper .form_thank-rko-h2,
  .fancybox-wrap .form_thank-rko-h2 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .wrapper .form_thank-rko-txt,
  .fancybox-wrap .form_thank-rko-txt {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .wrapper .form_thank-rko-txt p,
  .fancybox-wrap .form_thank-rko-txt p {
    margin-bottom: 20px;
  }
  .wrapper .form_thank-rko-sign,
  .fancybox-wrap .form_thank-rko-sign {
    font-size: 14px;
  }
  .wrapper .form_thank-rko-home,
  .fancybox-wrap .form_thank-rko-home {
    margin-top: 25px;
    font-size: 18px;
  }
  .wrapper .form_thank-rko-home img,
  .fancybox-wrap .form_thank-rko-home img {
    height: 20px;
  }
  .wrapper .form_thank_adv,
  .fancybox-wrap .form_thank_adv {
    padding: 25px 10px;
  }
  .wrapper .form_thank_adv-inner,
  .fancybox-wrap .form_thank_adv-inner {
    padding: 35px 0 25px;
  }
  .wrapper .form_thank_adv-txt,
  .fancybox-wrap .form_thank_adv-txt {
    padding: 0 15px;
  }
  .wrapper .form_thank_adv-txt-h1,
  .fancybox-wrap .form_thank_adv-txt-h1 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  .wrapper .form_thank_adv-txt-h2,
  .fancybox-wrap .form_thank_adv-txt-h2 {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 18px;
  }
  .wrapper .form_thank_adv-txt-desc,
  .fancybox-wrap .form_thank_adv-txt-desc {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .wrapper .form_thank_adv-txt-desc p,
  .fancybox-wrap .form_thank_adv-txt-desc p {
    margin-bottom: 20px;
  }
  .wrapper .form_thank_adv-txt-foot,
  .fancybox-wrap .form_thank_adv-txt-foot {
    font-size: 14px;
  }
  .wrapper .form_thank_adv-offers,
  .fancybox-wrap .form_thank_adv-offers {
    margin-top: 25px;
  }
  .wrapper .form_thank_adv-offers-inner,
  .fancybox-wrap .form_thank_adv-offers-inner {
    padding: 0 15px;
  }
  .wrapper .form_thank_adv-offers-box,
  .fancybox-wrap .form_thank_adv-offers-box {
    width: 261px;
    height: 252px;
    margin-right: 15px;
  }
  .wrapper .form_thank_adv-offers-box-content,
  .fancybox-wrap .form_thank_adv-offers-box-content {
    padding: 25px 20px 20px;
  }
  .wrapper .form_thank_adv-offers-box-title,
  .fancybox-wrap .form_thank_adv-offers-box-title {
    max-width: 110px;
    font-size: 18px;
  }
  .wrapper .form_thank_adv-offers-box-btn,
  .fancybox-wrap .form_thank_adv-offers-box-btn {
    font-size: 13px;
    line-height: 1;
  }
  .fancybox-wrap .form_thank_adv {
    padding: 0;
  }
  .fancybox-wrap .form_thank_adv-inner {
    max-width: 320px;
  }
}
