.before_after {
  position: absolute;
  content: '';
}
.wrapper main .page_content.page_content--sp_dev_acc {
  padding: 60px 0 100px;
}
.wrapper main .page_content.page_content--sp_dev_acc .how_much-container {
  padding: 80px 0;
}
.wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-head-item:nth-child(1) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 700px;
  margin-right: 145px;
}
.wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-td:nth-child(1) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 700px;
  margin-right: 145px;
}
.wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-td:nth-child(2) {
  max-width: 185px;
}
.wrapper main .page_content.page_content--sp_dev_acc .how_much-footnote {
  margin-top: 20px;
  font: 400 14px/20px 'Circe', 'Arial', sans-serif;
  color: #6e6e6e;
}
.wrapper main .page_content.page_content--sp_dev_acc .book_account_form {
  padding: 60px 0 65px;
  background: #f8f8f8;
}
.wrapper main .page_content.page_content--sp_dev_acc .book_account_form .title {
  margin-bottom: 40px;
  font: 400 36px/46px 'Circe', 'Arial', sans-serif;
  text-align: center;
}
.wrapper main .page_content.page_content--sp_dev_acc .ui-dropdown_list-container {
  margin-top: 60px;
}
.wrapper main .page_content.page_content--sp_dev_acc .ui-dropdown_list-item {
  background: #f4f4f4;
}
@media (max-width: 1259px) {
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-head-item:nth-child(1) {
    margin-right: 50px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-td:nth-child(1) {
    margin-right: 50px;
  }
}
@media (max-width: 999px) {
  .wrapper main .page_content.page_content--sp_dev_acc {
    padding: 50px 0 60px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-head-item:nth-child(1) {
    width: 450px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-td:nth-child(1) {
    width: 450px;
  }
}
@media (max-width: 767px) {
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-container {
    padding: 50px 0;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-head {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-head-item:nth-child(1) {
    width: calc(100% - 120px);
    margin-right: 20px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-table .ui-table-td:nth-child(1) {
    width: calc(100% - 120px);
    margin-right: 25px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .how_much-footnote {
    font-size: 12px;
    line-height: 18px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .book_account_form {
    padding: 40px 0;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .book_account_form .title {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--sp_dev_acc .ui-dropdown_list-container {
    margin-top: 40px;
  }
}
