.wrapper .fancybox-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: url(https://www.atb.su/local/templates/private_2020/assets/templ/all_site_assets/img/fancybox_overlay.png);
}
.wrapper .popup_video {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 1085px;
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  padding: 75px 100px 55px 100px;
  background: #fff;
  z-index: 101;
}
@media (max-width: 1259px) {
  .wrapper .popup_video {
    width: 980px;
    padding: 75px 47px 55px;
  }
}
@media (max-width: 999px) {
  .wrapper .popup_video {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .wrapper .popup_video {
    width: 300px;
  }
}
.wrapper .popup_video iframe {
  min-height: 100%;
}
.wrapper .popup_video .btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.wrapper .popup_video .btn_close a {
  display: block;
  content: '';
  width: 23px;
  height: 18px;
  background: url(https://www.atb.su/local/templates/main/img/ico_butn_close.png);
}
.wrapper .popup_video .video {
  margin-bottom: 25px;
  height: 497px;
}
@media (max-width: 999px) {
  .wrapper .popup_video .video {
    height: 397px;
  }
}
@media (max-width: 767px) {
  .wrapper .popup_video .video {
    height: auto;
  }
}
.wrapper .popup_video .pan_bott .show_count {
  text-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  color: #969696;
  font: 700 16px/22px 'Circe', 'Arial', sans-serif;
  padding-left: 30px;
  position: relative;
}
.wrapper .popup_video .pan_bott .show_count:before {
  content: '';
  background: url(https://www.atb.su/local/templates/main/img/show_count_icon.png) 0 0 no-repeat;
  width: 22px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.wrapper .popup_video .pan_bott .btn_buyins {
  margin-bottom: 25px;
  float: left;
}
.wrapper .popup_video .pan_bott .btn_buyins a {
  display: block;
  font: 700 15px/22px 'Circe', 'Arial', sans-serif;
  color: #fe5000;
  position: relative;
  padding-left: 30px;
}
.wrapper .popup_video .pan_bott .btn_buyins a:before {
  content: '';
  background: url(https://www.atb.su/local/templates/main/img/back_page_icon.png) 0 0 no-repeat;
  width: 21px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
}
.wrapper .popup_video .pan_bott .repeat {
  margin-bottom: 25px;
  float: left;
  margin-left: 45px;
  display: none;
  position: relative;
}
.wrapper .popup_video .pan_bott .repeat span {
  display: block;
  font: 700 15px/22px 'Circe', 'Arial', sans-serif;
  color: #000000;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}
.wrapper .popup_video .pan_bott .clearfix:before {
  display: table;
  content: ' ';
}
.wrapper .popup_video .pan_bott .clearfix:after {
  clear: both;
}
.wrapper .popup_video .pan_wrap {
  background: #f5f5f6;
  border: 1px solid #e0e2e3;
  padding: 30px;
}
@media (max-width: 767px) {
  .wrapper .popup_video .pan_wrap {
    padding: 15px;
  }
}
.wrapper .popup_video .pan_wrap .btn_ordcall {
  float: left;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper .popup_video .pan_wrap .btn_ordcall {
    float: none;
    margin: 0 0 15px 0;
  }
}
.wrapper .popup_video .pan_wrap .btn_ordcall a {
  display: block;
  width: 170px;
  height: 55px;
  font: 700 12px/16px 'Circe', 'Arial', sans-serif;
  padding: 12px 20px 0;
  border: 2px solid #fe5000;
  border-radius: 6px;
  text-align: center;
  background: #fff;
  color: #fe5000;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper .popup_video .pan_wrap .btn_ordcall a:hover {
  text-decoration: none;
  color: #fff;
  background: #fe5000;
}
.wrapper .popup_video .pan_wrap .descr {
  overflow: hidden;
}
@media (max-width: 767px) {
  .wrapper .popup_video .pan_wrap .descr {
    overflow: unset;
  }
}
.wrapper .popup_video .pan_wrap .descr .txt {
  font: 12px/15px 'Circe', 'Arial', sans-serif;
  color: #818181;
  margin-bottom: 5px;
}
.wrapper .popup_video .pan_wrap .descr .number {
  font: 700 21px/21px 'Circe', 'Arial', sans-serif;
  color: #545454;
  white-space: nowrap;
}
