@media (max-width: 1259px) {
  .wrapper main .inner {
    width: 980px;
  }
  .wrapper main .top_ban-features-item {
    margin-right: 35px;
  }
}
@media (max-width: 999px) {
  .wrapper main .inner {
    width: 740px;
  }
  .wrapper main .top_ban-wrapper {
    height: 380px;
  }
  .wrapper main .top_ban-wrapper .inner {
    padding-top: 80px;
  }
  .wrapper main .top_ban-title {
    font-size: 44px;
    line-height: 52px;
  }
  .wrapper main .top_ban-features-item-top {
    font-size: 32px;
  }
  .wrapper main .top_ban-features-item-top .xs {
    font-size: 20px;
  }
  .wrapper main .top_ban-features-item-top .s {
    font-size: 26px;
  }
  .wrapper main .top_ban-features-item-bot {
    margin-top: 10px;
  }
  .wrapper main .top_ban-btns {
    margin-top: 55px;
  }
  .wrapper main .features-container {
    padding: 40px 0 30зч;
  }
  .wrapper main .features-item {
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
    padding-top: 100px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .features-item:before {
    width: 80px;
    height: 80px;
  }
  .wrapper main .tabs-container {
    padding: 30px 0 60px;
  }
  .wrapper main .tabs-head-item {
    padding-bottom: 12px;
    font-size: 18px;
  }
  .wrapper main .tabs-footnote {
    margin-top: 30px;
  }
  .wrapper main .requirement_list-item-icon {
    margin-right: 15px;
  }
  .wrapper main .condition-table-td:first-child {
    width: 200px;
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  .wrapper main .inner {
    width: 95%;
    min-width: 300px;
  }
  .wrapper main .top_ban-container {
    padding-bottom: 115px;
  }
  .wrapper main .top_ban-wrapper {
    height: 240px;
  }
  .wrapper main .top_ban-wrapper .inner {
    padding-top: 40px;
  }
  .wrapper main .top_ban-title {
    max-width: 150px;
    font-size: 26px;
    line-height: 32px;
  }
  .wrapper main .top_ban-features {
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    right: -10px;
    margin-top: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .wrapper main .top_ban-features-item {
    white-space: nowrap;
  }
  .wrapper main .top_ban-features-item:last-child {
    padding-right: 10px;
  }
  .wrapper main .top_ban-btns {
    margin-top: 70px;
  }
  .wrapper main .top_ban-btns-item {
    padding: 12px 25px;
  }
  .wrapper main .features-container {
    padding: 20px 0;
  }
  .wrapper main .features-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper main .features-item {
    width: calc((100% - 45px) / 2);
    margin-right: 45px;
    margin-top: 30px;
    padding-top: 70px;
  }
  .wrapper main .features-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .features-item:nth-child(-n+2) {
    margin-top: 0;
  }
  .wrapper main .features-item:before {
    width: 60px;
    height: 60px;
  }
  .wrapper main .tabs-container {
    padding: 20px 0 60px;
  }
  .wrapper main .tabs-head-item {
    font-size: 16px;
  }
  .wrapper main .tabs-content {
    padding-top: 30px;
  }
  .wrapper main .tabs-footnote {
    font-size: 12px;
    line-height: 18px;
  }
  .wrapper main .tabs-footnote p {
    margin-bottom: 15px;
  }
  .wrapper main .requirement_list-item-icon {
    margin-right: 20px;
  }
  .wrapper main .condition-table-tr {
    padding: 15px 0;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .condition-table-td:first-child {
    width: 150px;
    margin-right: 20px;
    color: #373A36;
  }
  .wrapper main .requirement_list-item {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .book_account_form {
    padding: 50px 40px;
  }
  .wrapper main .book_account_form .title {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
@media (max-width: 374px) {
  .wrapper main .features-item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
  }
  .wrapper main .book_account_form {
    padding: 40px 10px 100px;
  }
}
