@circe: 'Circe', 'Arial', sans-serif;

@orange: #fe5000;
@red: #FE1E00;
@blue: #3b8b94;
@gray: #C8C8C8;
@light_grey: #E3E3E3;
@dark_grey: #6E6E6E;
@black: #373A36;


@media(max-width: 1380px) {
    .wrapper main .useful_goods_block-slider.with_btns {
        .swiper {
            &-container {
                overflow: visible;
            }

            
            &-btn-next,
            &-btn-prev {
                display: none;
            }
        }
    }
}


@media(max-width: 1259px) {
    .webinar_adv {
        &-inner {
            padding: 17px 45px 17px 170px;
        }

        &-img {
            left: 10px;
        }
    }

    .wrapper {
        .inner {
            width: 980px;
        }

        main {
            .main_ban {
                &-item {
                    .inner {
                        height: 450px;
                        padding: 75px 0 50px;
                    }

                    &-title {
                        max-width: 500px;
                        font-size: 40px;
                        &.small {
                            font-size: 32px;
                        }
                    }

                    &-block {
                        max-width: 450px;
                        &-point {
                            &-value {
                                font-size: 36px;
                            }
                        }
                    }

                    &.fresh_card {
                        .inner {
                            padding-top: 35px;
                        }

                        .main_ban-item {
                            &-badge {
                                margin-bottom: 15px;
                            }

                            &-title {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }

            .important_info {
                &-box {
                    padding: 25px;

                    &_big {
                        padding-right: 190px;

                        &-img {
                            right: 0;
                        }
                    }

                    &_small {
                        &-img {
                            overflow: hidden;

                            img {
                                transform: translateX(25px);
                            }
                        }
                    }
                }
            }

            .calc_section {
                &-main {
                    &-left {
                        width: 490px;
                    }

                    &-right {
                        width: 450px;
                    }
                }

                &-result {
                    padding: 40px 30px;

                    &.credit {
                        .calc_section-result-main-line-box {
                            &:nth-child(1) {
                                width: 170px;
                            }
                        }
                    }

                    &-main  {
                        &-line {
                            &-box {
                                &:nth-child(1) {
                                    width: 210px;
                                }

                                &-num {
                                    &.big {
                                        font-size: 40px;
                                    }
                                }
                            }
                        }
                    }

                    &-btns {
                        &-submit {
                            width: 200px;
                        }
                    }
                }
            }

            .to_club_block {
                &-content {
                    padding: 30px 440px 30px 50px;
                }

                &-img {
                    right: 60px;
                }
            }

            .app_adv_block {
                &-content {
                    padding: 55px 420px 55px 50px;
                }

                &-img {
                    width: 420px;
                }
            }

            .info_section {
                &-content {
                    display: block;
                }

                .currency_block {
                    width: auto;
                    height: auto;
                    margin-right: 0;

                    &-table {
                        &.metals {
                            .currency_block-table {
                                &-td {
                                    width: 20%;
                                    margin-right: 0;

                                    &:nth-child(1) {
                                        width: 20%;
                                    }
                                }
                            }
                        }
                    }
                }

                &-link_box {
                    width: auto;
                    margin-top: 40px;
                    padding: 30px 40px;

                    &-desc {
                        max-width: none;
                        margin-bottom: 25px;
                    }

                    &-img {
                        &-main {
                            img {
                                position: static;
                                transform: none;
                            }
                        }

                        &-min {
                            top: 35px;

                            img {
                                &:nth-child(3) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .news_block {
                &-content {
                    &-item {
                        width: ~'calc((100% - 40px) / 3)';
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}


@media(max-width: 999px) {
    .wrapper {
        .inner {
            width: 740px;
        }

        main {
            .main_ban {
                &-item {
                    .inner {
                        height: 350px;
                        padding: 50px 0 35px;
                    }

                    &-title {
                        max-width: 420px;
                        font-size: 36px;
                        &.small {
                            margin-top: 0;
                            font-size: 28px;
                        }
                    }

                    &-desc {
                        max-width: 390px;
                        font-size: 20px;

                        &-txt_big {
                            font-size: 36px;
                        }
                    }

                    &-desc_m {
                        font-size: 24px;
                        line-height: 28px;
    
                        &-big {
                            font-size: 32px;
                            line-height: 38px;
                        }
                    }

                    &-block {
                        max-width: 400px;
                        &-point {
                            &-value {
                                font-size: 32px;
                            }
                            &-desc {
                                font-size: 10px;
                            }
                        }
                    }

                    &-list {
                        li {
                            font-size: 18px;
                        }
                    }

                    &-pay {
                        &-item {
                            height: 25px;
                            margin-right: 20px;
                        }
                    }

                    &-btn {
                        &-school {
                            min-height: 44px;
                            padding: 4px 0 15px 52px;
                            font-size: 13px;
                            line-height: 18px;
    
                            &:before {
                                width: 42px;
                                height: 44px;
                            }
                        }
                    }

                    &.easy_shopping {
                        .inner {
                            padding-top: 50px;
                        }

                        .main_ban-item-desc {
                            max-width: 350px;
                        }
                    }

                    &.fresh_card {
                        .inner {
                            padding-top: 20px;
                        }

                        .main_ban-item {
                            &-badge {
                                margin-bottom: 10px;
                            }

                            &-title {
                                font-size: 22px;
                            }
                        }
                    }

                    &.universal_card {
                        .main_ban-item {
                            &-foot {
                                flex-direction: column-reverse;
                                align-items: flex-start;
                            }

                            &-btn {
                                margin-right: 0;
                            }
                        }
                    }
                }

                &-nav {
                    bottom: 35px;
                }
            }

            .important_info {
                &-wrapper {
                    display: block;
                }

                &-box {
                    margin-right: 0;
                    margin-bottom: 20px;

                    &:last-child {
                        margin: 0;
                    }

                    &_big {
                        width: auto;
                        padding-right: 280px;
                    }

                    &_small {
                        width: auto;

                        &-img {
                            img {
                                transform: none;
                            }
                        }
                    }
                }
            }

            .useful_goods_block {
                &-title {
                    font-size: 34px;
                }

                &-nav {
                    width: 360px;
                }

                &-slider {
                    &-item {
                        height: 350px;

                        &-link {
                            padding: 15px 30px;
                        }

                        &.big {
                            width: 680px;
                        }
                    }
                }
            }

            .calc_section {
                margin-top: 60px;

                &-adv {
                    margin-bottom: 30px;
                }

                &-tags {
                    margin-bottom: 30px;
                    padding-bottom: 5px;
                }

                &-params {
                    &-line {
                        &-inp {
                            width: 160px;

                            input[type='text'] {
                                height: 26px;
                                font-size: 24px;
                                line-height: 24px;
                            }

                            &.rub_before,
                            &.year_before,
                            &.moth_before {
                                position: relative;

                                &:after {
                                    height: 24px;
                                    font-size: 24px;
                                    line-height: 24px;
                                }
                            }

                            &.rub_before {
                                padding-right: 20px;
                            }

                            &.year_before {
                                padding-right: 45px;

                                span {
                                    width: 40px;
                                    height: 24px;
                                    font-size: 24px;
                                    line-height: 24px;
                                }
                            }

                            &.moth_before {
                                padding-right: 50px;
                            }
                        }

                        &-inp_line {
                            input[type='text'] {
                                font-size: 14px;
                            }
                        }
                    }

                    &-slider {
                        &-pips {
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }

                &-result {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &-main {
                    &-tab {
                        &-content {
                            display: block;
                        }
                    }

                    &-left {
                        width: auto;
                        padding: 0 25px;
                        margin-right: 0;
                        margin-bottom: 40px;
                    }

                    &-right {
                        width: auto;
                    }
                }

                &-card_adv {
                    padding: 25px 80px;

                    &-content {
                        &-title {
                            max-width: 320px;
                        }
                    }

                    &-img {
                        width: 194px;
                    }
                }
            }

            .to_club_block {
                margin-top: 60px;

                &-content {
                    padding: 30px 200px 30px 30px;
                }

                &-img {
                    right: 20px;
                    width: 250px;
                }
            }

            .app_adv_block {
                margin-top: 80px;

                &-content {
                    padding: 45px 220px 45px 40px;
                }

                &-desc {
                    max-width: 400px;
                }

                &-links {
                    margin-right: 0;
                }

                &-qr {
                    display: none;
                }

                &-img {
                    width: 300px;
                }
            }

            .info_section {
                &-link_box {
                    &-img {
                        &-main {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .news_block {
                margin-top: 50px;

                &-title {
                    font-size: 34px;
                }

                &-content {
                    &-item {
                        width: ~'calc((100% - 20px) / 3)';
                        margin-right: 10px;
                        padding: 15px 20px;
                    }
                }

                &.news_with_img {
                    .news_block {
                        &-content {
                            &-item {
                                &-img {
                                    top: auto;
                                    overflow: hidden;

                                    img {
                                        height: 130px;
                                        transform: translateX(20px);
                                    }
                                }

                                &.webinar {
                                    padding-left: 15px;
                                    padding-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tooltipda {
            &:after {
                position: fixed;
                top: 50%;
                bottom: auto;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &:before {
                    display: none;
                }
            }
        }
    }
}


@media(max-width: 767px) {
    .webinar_adv {
        &-inner {
            padding: 14px 35px 12px 80px;
        }

        &-img {
            left: -40px;
            width: 140px;
        }

        &-content {
            display: block;

            &-txt {
                margin-right: 0;
                margin-bottom: 7px;
                font-size: 14px;
                line-height: 18px;
            }

            &-link {
                a {
                    padding: 0;
                    border: 0;
                    font-size: 12px;
                    line-height: 18px;
                    color: @orange;
                    border-radius: 0;

                    &:hover {
                        background: none;
                        text-decoration: underline;
                    }
                }
            }
        }

        &-btn_close {
            width: 24px;
            height: 24px;
        }
    }

    .wrapper {
        .inner {
            width: 95%;
            min-width: 300px;
        }

        main {
            .page_content {
                padding: 45px 0 80px;
            }

            .main_ban {
                &-item {
                    .dn {
                        display: none;
                    }

                    &-subtitle {
                        display: none;
                    }

                    .inner {
                        height: 240px;
                        padding: 50px 0 20px;
                    }

                    &-title {
                        max-width: 200px;
                        font-size: 26px;
                        line-height: 1.3;
                        &.small {
                            font-size: 26px;
                        }
                    }

                    &-desc {
                        margin-bottom: 5px;
                        font-size: 18px;

                        &-txt_big {
                            margin-top: 5px;
                            font-size: 26px;
                        }
                    }

                    &-desc_m {
                        margin-bottom: 10px;
                        font-size: 22px;
                        line-height: 26px;
    
                        &-big {
                            font-size: 26px;
                            line-height: 32px;
                        }
                    }

                    &-desc,
                    &-block,
                    &-list,
                    &-pay {
                        display: none;
                    }

                    &-foot {
                        display: block;

                        &-item {
                            margin-bottom: 15px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    &-btn {
                        a {
                            display: inline-block;
                            padding: 0 30px;
                            font-size: 12px;
                            line-height: 40px;
                        }
                    }

                    &-link_label {
                        padding: 6px 35px 6px 15px;
                    }

                    &-app {
                        display: none;
                    }

                    &-img {
                        .desktop {
                            display: none;
                        }
                        .mobile {
                            display: block;
                        }
                    }

                    &.consumer_loans {
                        .inner {
                            padding-top: 30px;
                        }

                        .main_ban-item-title {
                            max-width: 320px;
                            margin-bottom: 10px;

                            @media(max-width: 440px) {
                                max-width: 200px;
                            }
                        }
                    }

                    &.easy_shopping {
                        .main_ban-item-title {
                            max-width: 180px;
                        }
                    }

                    &.fresh_card {
                        .main_ban-item {
                            &-title {
                                max-width: 60%;
                            }
                        }
                    }

                    &.universal_card {
                        .inner {
                            padding-top: 20px;
                        }
                        
                        .main_ban-item {
                            &-foot {
                                display: flex;
                            }
                        }
                    }
                }

                &-nav {
                    right: 10px;
                    bottom: 20px;
                    padding: 0;

                    &-btn {
                        &-prev,
                        &-next {
                            display: none;
                        }
                    }

                    &-pagination {
                        width: 36px;
                        height: 36px;

                        &-num {
                            font-size: 12px;
                            line-height: 36px;
                        }
                    }
                }
            }

            .important_info {
                &-box {
                    margin-bottom: 10px;
                    padding: 20px;

                    &_big {
                        padding-right: 65px;
                        overflow: hidden;

                        // &:after {
                        //     width: 80px;
                        //     height: 60px;
                        // }

                        &-title {
                            font-size: 20px;
                            line-height: 22px;
                        }

                        &-desc {
                            font-size: 14px;
                        }

                        &-img {
                            width: 150px;
                            right: -10px;
                        }
                    }

                    &_small {
                        &-title {
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }
            }

            .useful_goods_block {
                &-head {
                    display: block;
                    margin-bottom: 20px;
                }

                &-title {
                    margin-right: 0;
                    font-size: 28px;
                }

                &-nav {
                    display: none;
                }

                &-slider {
                    &-item {
                        width: 300px;
                        height: 350px;
                        padding: 20px;

                        &.big {
                            width: 300px;

                            .useful_goods_block-slider-item {
                                &-content {
                                    width: 200px;
                                    padding: 25px 20px;

                                    .useful_goods_block-slider-item-features-box {
                                        margin-right: 0;

                                        &:nth-child(2) {
                                            display: none;
                                        }
                                    }
                                }

                                &-title {
                                    font-size: 20px;
                                }
                            }
                        }

                        &-link {
                            width: 200px;
                            margin-top: 15px;
                            padding: 15px 20px 25px;

                            &-title {
                                font-size: 18px;
                                line-height: 24px;
                            }

                            &-img {
                                height: 100px;
                                overflow: hidden;

                                img {
                                    transform: translate(15px, 20px);
                                }
                            }
                        }

                        &-img {
                            .desktop {
                                display: none;
                            }

                            .mobile {
                                display: block;
                            }
                        }
                    }

                    &.with_btns {
                        .useful_goods_block-slider-item {
                            width: 300px;
                        }
                    }
                }
            }

            .calc_section {
                &-head {
                    display: block;
                    font-size: 28px;
                    line-height: 34px;
                }

                &-switch {
                    &-btn {
                        width: 30px;
                        height: 16px;
                        margin: 0 10px;

                        &:before {
                            width: 12px;
                            height: 12px;
                            left: 1px;
                            top: 1px;
                            background: #fff;
                            filter: invert(1);
                        }

                        &.active {
                            &:before {
                                left: 14px;
                            }
                        }
                    }
                }

                &-adv {
                    margin-bottom: 35px;
                    font-size: 18px;
                }

                &-tags {
                    &-item {
                        font-size: 14px;
                        line-height: 28px;
                    }
                }

                &-params {
                    &-line {
                        margin-top: 30px;

                        &-select {
                            .bootstrap-select {
                                .btn {
                                    padding: 0 40px 0 10px;
                                    font-size: 16px;
                                }

                                .dropdown-menu {
                                    li {
                                        a {
                                            padding: 5px 10px;
                                            font-size: 14px;
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &-options {
                    margin-top: 20px;

                    &-head {
                        padding: 15px 40px 15px 10px;
                        font-size: 16px;
                        line-height: 20px;
                    }

                    &-main {
                        padding: 15px 10px;

                        &-section {
                            margin-bottom: 15px;

                            &-title {
                                font-size: 14px;
                                line-height: 20px;
                            }

                            &-items {
                                &-box {
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                &-main {
                    &-left {
                        padding: 0 15px;
                    }
                }

                &-result {
                    padding: 20px;

                    &.credit {
                        .calc_section-result-main-line-box {
                            &:nth-child(1) {
                                width: 150px;
                            }
                        }
                    }

                    &-main  {
                        &-line {
                            margin-bottom: 30px;

                            &-box {
                                &:nth-child(1) {
                                    width: 200px;
                                }

                                &-num {
                                    font-size: 18px;

                                    &.big {
                                        font-size: 40px;
                                    }
                                }
                            }

                            &.row_m {
                                display: block;

                                .calc_section-result-main-line-box {
                                    display: flex;
                                    align-items: flex-end;
                                    width: 100%;
                                    margin-bottom: 15px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    &-name {
                                        position: relative;
                                        margin-bottom: 0;
                                        width: 200px;

                                        // &:before {
                                        //     position: absolute;
                                        //     content: '';
                                        //     left: 0;
                                        //     bottom: 0;
                                        //     width: 100%;
                                        //     height: 2px;
                                        //     border-bottom: 1px dashed #C8C8C8;
                                        // }

                                        // span {
                                        //     position: relative;
                                        //     display: inline-block;
                                        //     border-bottom: 2px solid #fff;
                                        // }
                                    }
                                }
                            }
                        }
                    }

                    &-btns {
                        flex-direction: column;
                        margin-top: 25px;

                        &-submit {
                            width: 270px;
                            margin-right: 0;
                            margin-bottom: 20px;
                        }
                    }

                    &-foot {
                        margin-top: 13px;
                        text-align: center;
                    }
                }

                &-card_adv {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding: 20px 30px 25px;

                    &-content {
                        margin: 0;
                    }

                    &-img {
                        width: 182px;
                        margin-bottom: 20px;
                    }
                }
            }

            .to_club_block {
                &-content {
                    min-height: 270px;
                    padding: 25px 85px 25px 25px;
                    overflow: hidden;
                }

                &-title {
                    font-size: 28px;
                }

                &-desc {
                    margin-bottom: 35px;
                    font-size: 18px;
                }

                &-img {
                    right: -20px;
                    width: 250px;
                }
            }

            .transfer_section {
                &-container {
                    margin-top: 60px;
                }
            }

            .app_adv_block {
                background: #F4F4F4;
                overflow: hidden;
                margin-top: 60px;

                &-content {
                    padding: 50px 10px 0;
                    background: transparent;
                    border-radius: 0;
                }

                &-title {
                    margin-bottom: 15px;
                    font-size: 28px;
                    text-align: center;
                }

                &-desc {
                    margin: 0 auto 35px;
                    font-size: 18px;
                    text-align: center;
                }

                &-downl {
                    justify-content: center;
                }

                &-links {
                    // img {
                    //     height: 45px;
                    // }

                    .app_store_white {
                        width: 130px;
                        padding: 9px 2px 7px 40px;
                        font-size: 10px;

                        span {
                            font-size: 16px;
                            line-height: 19px;
                        }

                        &:before {
                            top: 9px;
                            left: 11px;
                            width: 19px;
                            height: 24px;
                        }
                    }

                    .google_play_white {
                        padding: 10px 0 5px 46px;
                        font-size: 8px;

                        span {
                            font-size: 16px;
                        }

                        &:before {
                            top: 9px;
                            left: 7px;
                            width: 27px;
                            height: 27px;
                        }
                    }
                }

                &-img {
                    position: relative;
                    right: auto;
                    width: 350px;
                    height: 190px;
                    margin: 20px auto 0;
                }
            }

            .info_section {
                margin-top: 60px;

                .currency_block {
                    padding: 30px 20px;

                    &-switch {
                        &-txt {
                            font-size: 22px;
                            line-height: 32px;
                        }

                        &-btn {
                            width: 30px;
                            height: 16px;
                            margin: 0 10px;

                            &:before {
                                top: 1px;
                                left: 2px;
                                width: 12px;
                                height: 12px;
                                background: #fff;
                                filter: invert(1);
                            }

                            &.active {
                                &:before {
                                    left: 14px;
                                }
                            }
                        }
                    }

                    &-tab_btns {
                        .bootstrap-select {
                            .inner {
                                min-width: auto;
                            }
                        }
                    }

                    &-table {
                        &.metals {
                            .currency_block-table {
                                &-td {
                                    width: 33.33%;
                                    margin: 0;

                                    &:nth-child(1) {
                                        width: 33.33%;
                                    }
                                }
                            }
                        }

                        &-td {
                            width: 33.33%;
                            &:nth-child(4),
                            &:nth-child(5)  {
                                display: none;
                            }
                        }
                    }

                    &-foot {
                        font-size: 12px;
                    }
                }

                &-link_box {
                    padding: 25px 30px;

                    &-title {
                        font-size: 22px;
                    }

                    &-desc {
                        margin-bottom: 50px;
                        font-size: 16px;
                    }

                    &-img {

                        &-min {
                            top: 105px;
                            right: 15px;
                            width: 100px;
                            height: 90px;

                            img {
                                &:nth-child(1){
                                    top: 60px;
                                }

                                &:nth-child(2){
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }

            .news_block {
                &-head {
                    margin-bottom: 20px;
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                &-title {
                    font-size: 28px;
                }

                &-content {
                    display: block;

                    &-item {
                        width: auto;
                        margin-right: 0;
                        margin-bottom: 10px;
                        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

                        &:last-child {
                            margin-bottom: 0;
                        }

                        // &-desc {
                        //     height: auto;
                        //     max-height: 66px;

                        //     &:after {
                        //         opacity: 0;
                        //     }

                        //     &--hidden {
                        //         &:after {
                        //             opacity: 1;
                        //         }
                        //     }
                        // }
                    }
                }

                &.news_with_img {
                    .news_block {
                        &-content {
                            &-item {
                                box-shadow: none;
                                margin-bottom: 10px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &-desc {
                                    height: auto;
                                    max-height: 110px;

                                    &:after {
                                        display: none;
                                    }
                                }

                                &-img {
                                    img {
                                        height: 240px;
                                        transform: none;
                                    }
                                }

                                &.webinar {
                                    min-height: 235px;
                                    padding-left: 20px;
                                    padding-right: 20px;

                                    .news_block-content-item  {
                                        &-title {
                                            max-width: none;
                                            padding-right: 130px;
                                        }

                                        &-desc {
                                            max-width: none;
                                            padding-right: 150px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .mobile_bot__menu {
                display: block;
            }
        }
    }

    .main_page_wrapper {
        padding-bottom: 65px;
    }
}


@media(max-width: 374px) {
    .wrapper {
        main {
            .useful_goods_block {
                &-slider {
                    &-item {
                        width: 280px;

                        &.big {
                            width: 280px;
                        }
                    }
                }
            }

            .important_info-box_small {
                &-img {
                    img {
                        transform: translateX(25px);
                    }
                }
            }

            .calc_section {
                &-result {
                    padding: 20px 10px;

                    &.credit {
                        .calc_section-result-main-line-box {
                            &:nth-child(1) {
                                width: 140px;
                            }
                        }
                    }

                    &-main  {
                        &-line {
                            &-box {
                                &:nth-child(1) {
                                    width: 180px;
                                }

                                &-name {
                                    font-size: 11px;
                                }

                                &-num {
                                    font-size: 16px;

                                    &.big {
                                        font-size: 30px;
                                    }
                                }
                            }

                            &.row_m {
                                .calc_section-result-main-line-box {
                                    &-name {
                                        width: 180px;
                                    }
                                }
                            }
                        }
                    }

                    &-btns {
                        flex-direction: column;
                        margin-top: 25px;

                        &-submit {
                            width: 270px;
                            margin-right: 0;
                            margin-bottom: 20px;
                        }
                    }

                    &-foot {
                        margin-top: 13px;
                        text-align: center;
                    }
                }
            }

            .to_club_block {
                &-content {
                    padding: 25px 70px 25px 25px;
                    overflow: hidden;
                }
                &-img {
                    width: 210px;
                }
            }

            .app_adv_block-links {
                // img {
                //     height: 40px;
                // }

                a {
                    margin-right: 20px;
                }
            }

            .info_section {
                .currency_block {
                    padding: 20px 10px;

                    &-switch {
                        &-txt {
                            font-size: 20px;
                        }
                    }
                }

                &-link_box {
                    padding: 25px 15px;
                }
            }

            .news_block {
                &.news_with_img {
                    .news_block {
                        &-content {
                            &-item {
                                &-img {
                                    img {
                                        height: 180px;
                                    }
                                }

                                &.webinar {
                                    .news_block-content-item  {
                                        &-title {
                                            padding-right: 100px;
                                        }

                                        &-desc {
                                            padding-right: 100px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
