@media (max-width: 1380px) {
  .wrapper main .useful_goods_block-slider.with_btns .swiper-container {
    overflow: visible;
  }
  .wrapper main .useful_goods_block-slider.with_btns .swiper-btn-next,
  .wrapper main .useful_goods_block-slider.with_btns .swiper-btn-prev {
    display: none;
  }
}
@media (max-width: 1259px) {
  .webinar_adv-inner {
    padding: 17px 45px 17px 170px;
  }
  .webinar_adv-img {
    left: 10px;
  }
  .wrapper .inner {
    width: 980px;
  }
  .wrapper main .main_ban-item .inner {
    height: 450px;
    padding: 75px 0 50px;
  }
  .wrapper main .main_ban-item-title {
    max-width: 500px;
    font-size: 40px;
  }
  .wrapper main .main_ban-item-title.small {
    font-size: 32px;
  }
  .wrapper main .main_ban-item-block {
    max-width: 450px;
  }
  .wrapper main .main_ban-item-block-point-value {
    font-size: 36px;
  }
  .wrapper main .main_ban-item.fresh_card .inner {
    padding-top: 35px;
  }
  .wrapper main .main_ban-item.fresh_card .main_ban-item-badge {
    margin-bottom: 15px;
  }
  .wrapper main .main_ban-item.fresh_card .main_ban-item-title {
    font-size: 32px;
  }
  .wrapper main .important_info-box {
    padding: 25px;
  }
  .wrapper main .important_info-box_big {
    padding-right: 190px;
  }
  .wrapper main .important_info-box_big-img {
    right: 0;
  }
  .wrapper main .important_info-box_small-img {
    overflow: hidden;
  }
  .wrapper main .important_info-box_small-img img {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  .wrapper main .calc_section-main-left {
    width: 490px;
  }
  .wrapper main .calc_section-main-right {
    width: 450px;
  }
  .wrapper main .calc_section-result {
    padding: 40px 30px;
  }
  .wrapper main .calc_section-result.credit .calc_section-result-main-line-box:nth-child(1) {
    width: 170px;
  }
  .wrapper main .calc_section-result-main-line-box:nth-child(1) {
    width: 210px;
  }
  .wrapper main .calc_section-result-main-line-box-num.big {
    font-size: 40px;
  }
  .wrapper main .calc_section-result-btns-submit {
    width: 200px;
  }
  .wrapper main .to_club_block-content {
    padding: 30px 440px 30px 50px;
  }
  .wrapper main .to_club_block-img {
    right: 60px;
  }
  .wrapper main .app_adv_block-content {
    padding: 55px 420px 55px 50px;
  }
  .wrapper main .app_adv_block-img {
    width: 420px;
  }
  .wrapper main .info_section-content {
    display: block;
  }
  .wrapper main .info_section .currency_block {
    width: auto;
    height: auto;
    margin-right: 0;
  }
  .wrapper main .info_section .currency_block-table.metals .currency_block-table-td {
    width: 20%;
    margin-right: 0;
  }
  .wrapper main .info_section .currency_block-table.metals .currency_block-table-td:nth-child(1) {
    width: 20%;
  }
  .wrapper main .info_section-link_box {
    width: auto;
    margin-top: 40px;
    padding: 30px 40px;
  }
  .wrapper main .info_section-link_box-desc {
    max-width: none;
    margin-bottom: 25px;
  }
  .wrapper main .info_section-link_box-img-main img {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .wrapper main .info_section-link_box-img-min {
    top: 35px;
  }
  .wrapper main .info_section-link_box-img-min img:nth-child(3) {
    display: none;
  }
  .wrapper main .news_block-content-item {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
  }
}
@media (max-width: 999px) {
  .wrapper .inner {
    width: 740px;
  }
  .wrapper main .main_ban-item .inner {
    height: 350px;
    padding: 50px 0 35px;
  }
  .wrapper main .main_ban-item-title {
    max-width: 420px;
    font-size: 36px;
  }
  .wrapper main .main_ban-item-title.small {
    margin-top: 0;
    font-size: 28px;
  }
  .wrapper main .main_ban-item-desc {
    max-width: 390px;
    font-size: 20px;
  }
  .wrapper main .main_ban-item-desc-txt_big {
    font-size: 36px;
  }
  .wrapper main .main_ban-item-desc_m {
    font-size: 24px;
    line-height: 28px;
  }
  .wrapper main .main_ban-item-desc_m-big {
    font-size: 32px;
    line-height: 38px;
  }
  .wrapper main .main_ban-item-block {
    max-width: 400px;
  }
  .wrapper main .main_ban-item-block-point-value {
    font-size: 32px;
  }
  .wrapper main .main_ban-item-block-point-desc {
    font-size: 10px;
  }
  .wrapper main .main_ban-item-list li {
    font-size: 18px;
  }
  .wrapper main .main_ban-item-pay-item {
    height: 25px;
    margin-right: 20px;
  }
  .wrapper main .main_ban-item-btn-school {
    min-height: 44px;
    padding: 4px 0 15px 52px;
    font-size: 13px;
    line-height: 18px;
  }
  .wrapper main .main_ban-item-btn-school:before {
    width: 42px;
    height: 44px;
  }
  .wrapper main .main_ban-item.easy_shopping .inner {
    padding-top: 50px;
  }
  .wrapper main .main_ban-item.easy_shopping .main_ban-item-desc {
    max-width: 350px;
  }
  .wrapper main .main_ban-item.fresh_card .inner {
    padding-top: 20px;
  }
  .wrapper main .main_ban-item.fresh_card .main_ban-item-badge {
    margin-bottom: 10px;
  }
  .wrapper main .main_ban-item.fresh_card .main_ban-item-title {
    font-size: 22px;
  }
  .wrapper main .main_ban-item.universal_card .main_ban-item-foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper main .main_ban-item.universal_card .main_ban-item-btn {
    margin-right: 0;
  }
  .wrapper main .main_ban-nav {
    bottom: 35px;
  }
  .wrapper main .important_info-wrapper {
    display: block;
  }
  .wrapper main .important_info-box {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .wrapper main .important_info-box:last-child {
    margin: 0;
  }
  .wrapper main .important_info-box_big {
    width: auto;
    padding-right: 280px;
  }
  .wrapper main .important_info-box_small {
    width: auto;
  }
  .wrapper main .important_info-box_small-img img {
    -webkit-transform: none;
            transform: none;
  }
  .wrapper main .useful_goods_block-title {
    font-size: 34px;
  }
  .wrapper main .useful_goods_block-nav {
    width: 360px;
  }
  .wrapper main .useful_goods_block-slider-item {
    height: 350px;
  }
  .wrapper main .useful_goods_block-slider-item-link {
    padding: 15px 30px;
  }
  .wrapper main .useful_goods_block-slider-item.big {
    width: 680px;
  }
  .wrapper main .calc_section {
    margin-top: 60px;
  }
  .wrapper main .calc_section-adv {
    margin-bottom: 30px;
  }
  .wrapper main .calc_section-tags {
    margin-bottom: 30px;
    padding-bottom: 5px;
  }
  .wrapper main .calc_section-params-line-inp {
    width: 160px;
  }
  .wrapper main .calc_section-params-line-inp input[type='text'] {
    height: 26px;
    font-size: 24px;
    line-height: 24px;
  }
  .wrapper main .calc_section-params-line-inp.rub_before,
  .wrapper main .calc_section-params-line-inp.year_before,
  .wrapper main .calc_section-params-line-inp.moth_before {
    position: relative;
  }
  .wrapper main .calc_section-params-line-inp.rub_before:after,
  .wrapper main .calc_section-params-line-inp.year_before:after,
  .wrapper main .calc_section-params-line-inp.moth_before:after {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
  }
  .wrapper main .calc_section-params-line-inp.rub_before {
    padding-right: 20px;
  }
  .wrapper main .calc_section-params-line-inp.year_before {
    padding-right: 45px;
  }
  .wrapper main .calc_section-params-line-inp.year_before span {
    width: 40px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
  }
  .wrapper main .calc_section-params-line-inp.moth_before {
    padding-right: 50px;
  }
  .wrapper main .calc_section-params-line-inp_line input[type='text'] {
    font-size: 14px;
  }
  .wrapper main .calc_section-params-slider-pips span {
    font-size: 12px;
  }
  .wrapper main .calc_section-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper main .calc_section-main-tab-content {
    display: block;
  }
  .wrapper main .calc_section-main-left {
    width: auto;
    padding: 0 25px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .wrapper main .calc_section-main-right {
    width: auto;
  }
  .wrapper main .calc_section-card_adv {
    padding: 25px 80px;
  }
  .wrapper main .calc_section-card_adv-content-title {
    max-width: 320px;
  }
  .wrapper main .calc_section-card_adv-img {
    width: 194px;
  }
  .wrapper main .to_club_block {
    margin-top: 60px;
  }
  .wrapper main .to_club_block-content {
    padding: 30px 200px 30px 30px;
  }
  .wrapper main .to_club_block-img {
    right: 20px;
    width: 250px;
  }
  .wrapper main .app_adv_block {
    margin-top: 80px;
  }
  .wrapper main .app_adv_block-content {
    padding: 45px 220px 45px 40px;
  }
  .wrapper main .app_adv_block-desc {
    max-width: 400px;
  }
  .wrapper main .app_adv_block-links {
    margin-right: 0;
  }
  .wrapper main .app_adv_block-qr {
    display: none;
  }
  .wrapper main .app_adv_block-img {
    width: 300px;
  }
  .wrapper main .info_section-link_box-img-main img {
    width: 100%;
  }
  .wrapper main .news_block {
    margin-top: 50px;
  }
  .wrapper main .news_block-title {
    font-size: 34px;
  }
  .wrapper main .news_block-content-item {
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
    padding: 15px 20px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item-img {
    top: auto;
    overflow: hidden;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item-img img {
    height: 130px;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .wrapper main .news_block.news_with_img .news_block-content-item.webinar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper .tooltipda:after {
    position: fixed;
    top: 50%;
    bottom: auto;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .wrapper .tooltipda:hover:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .webinar_adv-inner {
    padding: 14px 35px 12px 80px;
  }
  .webinar_adv-img {
    left: -40px;
    width: 140px;
  }
  .webinar_adv-content {
    display: block;
  }
  .webinar_adv-content-txt {
    margin-right: 0;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 18px;
  }
  .webinar_adv-content-link a {
    padding: 0;
    border: 0;
    font-size: 12px;
    line-height: 18px;
    color: #fe5000;
    border-radius: 0;
  }
  .webinar_adv-content-link a:hover {
    background: none;
    text-decoration: underline;
  }
  .webinar_adv-btn_close {
    width: 24px;
    height: 24px;
  }
  .wrapper .inner {
    width: 95%;
    min-width: 300px;
  }
  .wrapper main .page_content {
    padding: 45px 0 80px;
  }
  .wrapper main .main_ban-item .dn {
    display: none;
  }
  .wrapper main .main_ban-item-subtitle {
    display: none;
  }
  .wrapper main .main_ban-item .inner {
    height: 240px;
    padding: 50px 0 20px;
  }
  .wrapper main .main_ban-item-title {
    max-width: 200px;
    font-size: 26px;
    line-height: 1.3;
  }
  .wrapper main .main_ban-item-title.small {
    font-size: 26px;
  }
  .wrapper main .main_ban-item-desc {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .wrapper main .main_ban-item-desc-txt_big {
    margin-top: 5px;
    font-size: 26px;
  }
  .wrapper main .main_ban-item-desc_m {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 26px;
  }
  .wrapper main .main_ban-item-desc_m-big {
    font-size: 26px;
    line-height: 32px;
  }
  .wrapper main .main_ban-item-desc,
  .wrapper main .main_ban-item-block,
  .wrapper main .main_ban-item-list,
  .wrapper main .main_ban-item-pay {
    display: none;
  }
  .wrapper main .main_ban-item-foot {
    display: block;
  }
  .wrapper main .main_ban-item-foot-item {
    margin-bottom: 15px;
  }
  .wrapper main .main_ban-item-foot-item:last-child {
    margin-bottom: 0;
  }
  .wrapper main .main_ban-item-btn a {
    display: inline-block;
    padding: 0 30px;
    font-size: 12px;
    line-height: 40px;
  }
  .wrapper main .main_ban-item-link_label {
    padding: 6px 35px 6px 15px;
  }
  .wrapper main .main_ban-item-app {
    display: none;
  }
  .wrapper main .main_ban-item-img .desktop {
    display: none;
  }
  .wrapper main .main_ban-item-img .mobile {
    display: block;
  }
  .wrapper main .main_ban-item.consumer_loans .inner {
    padding-top: 30px;
  }
  .wrapper main .main_ban-item.consumer_loans .main_ban-item-title {
    max-width: 320px;
    margin-bottom: 10px;
  }
  .wrapper main .main_ban-item.easy_shopping .main_ban-item-title {
    max-width: 180px;
  }
  .wrapper main .main_ban-item.fresh_card .main_ban-item-title {
    max-width: 60%;
  }
  .wrapper main .main_ban-item.universal_card .inner {
    padding-top: 20px;
  }
  .wrapper main .main_ban-item.universal_card .main_ban-item-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper main .main_ban-nav {
    right: 10px;
    bottom: 20px;
    padding: 0;
  }
  .wrapper main .main_ban-nav-btn-prev,
  .wrapper main .main_ban-nav-btn-next {
    display: none;
  }
  .wrapper main .main_ban-nav-pagination {
    width: 36px;
    height: 36px;
  }
  .wrapper main .main_ban-nav-pagination-num {
    font-size: 12px;
    line-height: 36px;
  }
  .wrapper main .important_info-box {
    margin-bottom: 10px;
    padding: 20px;
  }
  .wrapper main .important_info-box_big {
    padding-right: 65px;
    overflow: hidden;
  }
  .wrapper main .important_info-box_big-title {
    font-size: 20px;
    line-height: 22px;
  }
  .wrapper main .important_info-box_big-desc {
    font-size: 14px;
  }
  .wrapper main .important_info-box_big-img {
    width: 150px;
    right: -10px;
  }
  .wrapper main .important_info-box_small-title {
    font-size: 18px;
    line-height: 22px;
  }
  .wrapper main .useful_goods_block-head {
    display: block;
    margin-bottom: 20px;
  }
  .wrapper main .useful_goods_block-title {
    margin-right: 0;
    font-size: 28px;
  }
  .wrapper main .useful_goods_block-nav {
    display: none;
  }
  .wrapper main .useful_goods_block-slider-item {
    width: 300px;
    height: 350px;
    padding: 20px;
  }
  .wrapper main .useful_goods_block-slider-item.big {
    width: 300px;
  }
  .wrapper main .useful_goods_block-slider-item.big .useful_goods_block-slider-item-content {
    width: 200px;
    padding: 25px 20px;
  }
  .wrapper main .useful_goods_block-slider-item.big .useful_goods_block-slider-item-content .useful_goods_block-slider-item-features-box {
    margin-right: 0;
  }
  .wrapper main .useful_goods_block-slider-item.big .useful_goods_block-slider-item-content .useful_goods_block-slider-item-features-box:nth-child(2) {
    display: none;
  }
  .wrapper main .useful_goods_block-slider-item.big .useful_goods_block-slider-item-title {
    font-size: 20px;
  }
  .wrapper main .useful_goods_block-slider-item-link {
    width: 200px;
    margin-top: 15px;
    padding: 15px 20px 25px;
  }
  .wrapper main .useful_goods_block-slider-item-link-title {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .useful_goods_block-slider-item-link-img {
    height: 100px;
    overflow: hidden;
  }
  .wrapper main .useful_goods_block-slider-item-link-img img {
    -webkit-transform: translate(15px, 20px);
            transform: translate(15px, 20px);
  }
  .wrapper main .useful_goods_block-slider-item-img .desktop {
    display: none;
  }
  .wrapper main .useful_goods_block-slider-item-img .mobile {
    display: block;
  }
  .wrapper main .useful_goods_block-slider.with_btns .useful_goods_block-slider-item {
    width: 300px;
  }
  .wrapper main .calc_section-head {
    display: block;
    font-size: 28px;
    line-height: 34px;
  }
  .wrapper main .calc_section-switch-btn {
    width: 30px;
    height: 16px;
    margin: 0 10px;
  }
  .wrapper main .calc_section-switch-btn:before {
    width: 12px;
    height: 12px;
    left: 1px;
    top: 1px;
    background: #fff;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .wrapper main .calc_section-switch-btn.active:before {
    left: 14px;
  }
  .wrapper main .calc_section-adv {
    margin-bottom: 35px;
    font-size: 18px;
  }
  .wrapper main .calc_section-tags-item {
    font-size: 14px;
    line-height: 28px;
  }
  .wrapper main .calc_section-params-line {
    margin-top: 30px;
  }
  .wrapper main .calc_section-params-line-select .bootstrap-select .btn {
    padding: 0 40px 0 10px;
    font-size: 16px;
  }
  .wrapper main .calc_section-params-line-select .bootstrap-select .dropdown-menu li a {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .calc_section-options {
    margin-top: 20px;
  }
  .wrapper main .calc_section-options-head {
    padding: 15px 40px 15px 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .wrapper main .calc_section-options-main {
    padding: 15px 10px;
  }
  .wrapper main .calc_section-options-main-section {
    margin-bottom: 15px;
  }
  .wrapper main .calc_section-options-main-section-title {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .calc_section-options-main-section-items-box {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper main .calc_section-main-left {
    padding: 0 15px;
  }
  .wrapper main .calc_section-result {
    padding: 20px;
  }
  .wrapper main .calc_section-result.credit .calc_section-result-main-line-box:nth-child(1) {
    width: 150px;
  }
  .wrapper main .calc_section-result-main-line {
    margin-bottom: 30px;
  }
  .wrapper main .calc_section-result-main-line-box:nth-child(1) {
    width: 200px;
  }
  .wrapper main .calc_section-result-main-line-box-num {
    font-size: 18px;
  }
  .wrapper main .calc_section-result-main-line-box-num.big {
    font-size: 40px;
  }
  .wrapper main .calc_section-result-main-line.row_m {
    display: block;
  }
  .wrapper main .calc_section-result-main-line.row_m .calc_section-result-main-line-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    margin-bottom: 15px;
  }
  .wrapper main .calc_section-result-main-line.row_m .calc_section-result-main-line-box:last-child {
    margin-bottom: 0;
  }
  .wrapper main .calc_section-result-main-line.row_m .calc_section-result-main-line-box-name {
    position: relative;
    margin-bottom: 0;
    width: 200px;
  }
  .wrapper main .calc_section-result-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
  .wrapper main .calc_section-result-btns-submit {
    width: 270px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .wrapper main .calc_section-result-foot {
    margin-top: 13px;
    text-align: center;
  }
  .wrapper main .calc_section-card_adv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px 25px;
  }
  .wrapper main .calc_section-card_adv-content {
    margin: 0;
  }
  .wrapper main .calc_section-card_adv-img {
    width: 182px;
    margin-bottom: 20px;
  }
  .wrapper main .to_club_block-content {
    min-height: 270px;
    padding: 25px 85px 25px 25px;
    overflow: hidden;
  }
  .wrapper main .to_club_block-title {
    font-size: 28px;
  }
  .wrapper main .to_club_block-desc {
    margin-bottom: 35px;
    font-size: 18px;
  }
  .wrapper main .to_club_block-img {
    right: -20px;
    width: 250px;
  }
  .wrapper main .transfer_section-container {
    margin-top: 60px;
  }
  .wrapper main .app_adv_block {
    background: #F4F4F4;
    overflow: hidden;
    margin-top: 60px;
  }
  .wrapper main .app_adv_block-content {
    padding: 50px 10px 0;
    background: transparent;
    border-radius: 0;
  }
  .wrapper main .app_adv_block-title {
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
  }
  .wrapper main .app_adv_block-desc {
    margin: 0 auto 35px;
    font-size: 18px;
    text-align: center;
  }
  .wrapper main .app_adv_block-downl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper main .app_adv_block-links .app_store_white {
    width: 130px;
    padding: 9px 2px 7px 40px;
    font-size: 10px;
  }
  .wrapper main .app_adv_block-links .app_store_white span {
    font-size: 16px;
    line-height: 19px;
  }
  .wrapper main .app_adv_block-links .app_store_white:before {
    top: 9px;
    left: 11px;
    width: 19px;
    height: 24px;
  }
  .wrapper main .app_adv_block-links .google_play_white {
    padding: 10px 0 5px 46px;
    font-size: 8px;
  }
  .wrapper main .app_adv_block-links .google_play_white span {
    font-size: 16px;
  }
  .wrapper main .app_adv_block-links .google_play_white:before {
    top: 9px;
    left: 7px;
    width: 27px;
    height: 27px;
  }
  .wrapper main .app_adv_block-img {
    position: relative;
    right: auto;
    width: 350px;
    height: 190px;
    margin: 20px auto 0;
  }
  .wrapper main .info_section {
    margin-top: 60px;
  }
  .wrapper main .info_section .currency_block {
    padding: 30px 20px;
  }
  .wrapper main .info_section .currency_block-switch-txt {
    font-size: 22px;
    line-height: 32px;
  }
  .wrapper main .info_section .currency_block-switch-btn {
    width: 30px;
    height: 16px;
    margin: 0 10px;
  }
  .wrapper main .info_section .currency_block-switch-btn:before {
    top: 1px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: #fff;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .wrapper main .info_section .currency_block-switch-btn.active:before {
    left: 14px;
  }
  .wrapper main .info_section .currency_block-tab_btns .bootstrap-select .inner {
    min-width: auto;
  }
  .wrapper main .info_section .currency_block-table.metals .currency_block-table-td {
    width: 33.33%;
    margin: 0;
  }
  .wrapper main .info_section .currency_block-table.metals .currency_block-table-td:nth-child(1) {
    width: 33.33%;
  }
  .wrapper main .info_section .currency_block-table-td {
    width: 33.33%;
  }
  .wrapper main .info_section .currency_block-table-td:nth-child(4),
  .wrapper main .info_section .currency_block-table-td:nth-child(5) {
    display: none;
  }
  .wrapper main .info_section .currency_block-foot {
    font-size: 12px;
  }
  .wrapper main .info_section-link_box {
    padding: 25px 30px;
  }
  .wrapper main .info_section-link_box-title {
    font-size: 22px;
  }
  .wrapper main .info_section-link_box-desc {
    margin-bottom: 50px;
    font-size: 16px;
  }
  .wrapper main .info_section-link_box-img-min {
    top: 105px;
    right: 15px;
    width: 100px;
    height: 90px;
  }
  .wrapper main .info_section-link_box-img-min img:nth-child(1) {
    top: 60px;
  }
  .wrapper main .info_section-link_box-img-min img:nth-child(2) {
    right: 0;
  }
  .wrapper main .news_block-head {
    margin-bottom: 20px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .wrapper main .news_block-title {
    font-size: 28px;
  }
  .wrapper main .news_block-content {
    display: block;
  }
  .wrapper main .news_block-content-item {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  .wrapper main .news_block-content-item:last-child {
    margin-bottom: 0;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 10px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item:last-child {
    margin-bottom: 0;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item-desc {
    height: auto;
    max-height: 110px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item-desc:after {
    display: none;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item-img img {
    height: 240px;
    -webkit-transform: none;
            transform: none;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item.webinar {
    min-height: 235px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-title {
    max-width: none;
    padding-right: 130px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-desc {
    max-width: none;
    padding-right: 150px;
  }
  .wrapper main .mobile_bot__menu {
    display: block;
  }
  .main_page_wrapper {
    padding-bottom: 65px;
  }
}
@media (max-width: 767px) and (max-width: 440px) {
  .wrapper main .main_ban-item.consumer_loans .main_ban-item-title {
    max-width: 200px;
  }
}
@media (max-width: 374px) {
  .wrapper main .useful_goods_block-slider-item {
    width: 280px;
  }
  .wrapper main .useful_goods_block-slider-item.big {
    width: 280px;
  }
  .wrapper main .important_info-box_small-img img {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  .wrapper main .calc_section-result {
    padding: 20px 10px;
  }
  .wrapper main .calc_section-result.credit .calc_section-result-main-line-box:nth-child(1) {
    width: 140px;
  }
  .wrapper main .calc_section-result-main-line-box:nth-child(1) {
    width: 180px;
  }
  .wrapper main .calc_section-result-main-line-box-name {
    font-size: 11px;
  }
  .wrapper main .calc_section-result-main-line-box-num {
    font-size: 16px;
  }
  .wrapper main .calc_section-result-main-line-box-num.big {
    font-size: 30px;
  }
  .wrapper main .calc_section-result-main-line.row_m .calc_section-result-main-line-box-name {
    width: 180px;
  }
  .wrapper main .calc_section-result-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
  .wrapper main .calc_section-result-btns-submit {
    width: 270px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .wrapper main .calc_section-result-foot {
    margin-top: 13px;
    text-align: center;
  }
  .wrapper main .to_club_block-content {
    padding: 25px 70px 25px 25px;
    overflow: hidden;
  }
  .wrapper main .to_club_block-img {
    width: 210px;
  }
  .wrapper main .app_adv_block-links a {
    margin-right: 20px;
  }
  .wrapper main .info_section .currency_block {
    padding: 20px 10px;
  }
  .wrapper main .info_section .currency_block-switch-txt {
    font-size: 20px;
  }
  .wrapper main .info_section-link_box {
    padding: 25px 15px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item-img img {
    height: 180px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-title {
    padding-right: 100px;
  }
  .wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-desc {
    padding-right: 100px;
  }
}
