.webinar_adv-container {
  min-height: 78px;
  background: #F6F6F6;
  overflow: hidden;
}
.webinar_adv-inner {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  padding: 17px 45px 17px 300px;
}
.webinar_adv-img {
  position: absolute;
  bottom: 0;
  left: 140px;
  width: 140px;
  overflow: hidden;
}
.webinar_adv-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.webinar_adv-content-txt {
  margin-right: 35px;
  font: 700 16px/24px 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.webinar_adv-content-link a {
  display: inline-block;
  padding: 12px 35px;
  border: 1px solid #fe5000;
  font: 400 14px/20px 'Circe', 'Arial', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fe5000;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.webinar_adv-content-link a:hover {
  background: #fff;
}
.webinar_adv-btn_close {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.6566 6.85718L25.1431 8.34463L8.34391 25.1429L6.85742 23.6565L23.6566 6.85718Z' fill='%23666666'/%3E%3Cpath d='M8.34391 6.85718L25.1431 23.6554L23.6566 25.1429L6.85742 8.34463L8.34391 6.85718Z' fill='%23666666'/%3E%3C/svg%3E%0A") no-repeat;
  background-size: contain;
  cursor: pointer;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.wrapper .inner {
  position: relative;
  width: 1220px;
  margin: 0 auto;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  margin: 0;
}
.wrapper main .page_content {
  padding: 60px 0 100px;
}
.wrapper main .main_ban {
  position: relative;
}
.wrapper main .main_ban-item {
  color: #373A36;
  background: #6E6E6E;
  overflow: hidden;
}
.wrapper main .main_ban-item .inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  padding: 130px 0 50px;
}
.wrapper main .main_ban-item.gifts_ban .inner {
  padding-top: 70px;
}
.wrapper main .main_ban-item.endless_possibilities .inner {
  padding-top: 65px;
}
.wrapper main .main_ban-item.work_time_atm .inner {
  padding-top: 80px;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-txt {
  max-width: 520px;
  color: #373a36;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-title {
  margin-bottom: 50px;
  font: 700 28px/36px 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-title_mobile {
  display: none;
  margin-bottom: 15px;
  font: 700 26px/32px 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block-item {
  width: 230px;
  margin: 25px 30px 0 0;
  font: 400 22px/30px 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block-item:nth-child(-n+2) {
  margin-top: 0;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block-item a {
  color: inherit;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block-item span {
  display: block;
  font: 400 14px/20px 'Circe', 'Arial', sans-serif;
  color: #858585;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block-item .icon_phone {
  position: relative;
  display: block;
  width: 130px;
  padding-left: 30px;
  font: 400 14px/20px 'Circe', 'Arial', sans-serif;
  color: #858585;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-block-item .icon_phone:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/icon.orange_phoone.png) no-repeat;
  background-size: contain;
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-btn_list {
  position: relative;
  display: inline-block;
  min-height: 80px;
  margin-top: auto;
  padding: 20px 20px 15px 70px;
  font: 400 14px/20px 'Circe', 'Arial', sans-serif;
  text-decoration: underline;
  color: #fff;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #f8430f), to(#f8a63f));
  background: linear-gradient(to right, #f8430f 1%, #f8a63f 100%);
}
.wrapper main .main_ban-item.work_time_atm .work_time_atm-btn_list:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 38px;
  height: 49px;
  background: url(../img/ic.xml.red.png) no-repeat;
  background-size: contain;
}
.wrapper main .main_ban-item.acquiring .main_ban-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
}
.wrapper main .main_ban-item.acquiring .main_ban-item-desc-num {
  margin-left: 15px;
  font: 900 100px/1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
}
.wrapper main .main_ban-item.acquiring .main_ban-item-desc-num span {
  font-size: 80px;
}
.wrapper main .main_ban-item-badge {
  margin-bottom: 10px;
  text-transform: uppercase;
  font: 12px/1.2 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-title {
  max-width: 600px;
  margin-bottom: 20px;
  font: 700 56px/1.15 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-title .emphasis {
  color: #fe5000;
}
.wrapper main .main_ban-item-desc {
  max-width: 510px;
  margin-bottom: 30px;
  font: 400 24px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-desc .orange {
  font-size: 32px;
  font-weight: bold;
  color: #fe5000;
}
.wrapper main .main_ban-item-desc p {
  margin-bottom: 15px;
}
.wrapper main .main_ban-item-desc p:last-child {
  margin-bottom: 0;
}
.wrapper main .main_ban-item-desc_bold {
  max-width: 450px;
  margin-bottom: 20px;
  font: 700 22px/30px 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: 400 20px/28px 'Circe', 'Arial', sans-serif;
  color: #333333;
}
.wrapper main .main_ban-item-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.wrapper main .main_ban-item-list li:last-child {
  margin-bottom: 0;
}
.wrapper main .main_ban-item-list li:before {
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #666;
  border-radius: 50%;
  content: '';
}
.wrapper main .main_ban-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 500px;
}
.wrapper main .main_ban-item-block-point {
  margin-right: 60px;
}
.wrapper main .main_ban-item-block-point-value {
  margin-bottom: 5px;
  font: 38px/1 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-block-point-value.small {
  font-size: 22px;
}
.wrapper main .main_ban-item-block-point-desc {
  font: 24px/1.5 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-block-point-desc.small {
  font-size: 18px;
}
.wrapper main .main_ban-item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.wrapper main .main_ban-item-features-item {
  margin-right: 50px;
}
.wrapper main .main_ban-item-features-item:last-child {
  margin-right: 0;
}
.wrapper main .main_ban-item-features-item-top {
  font: 400 48px/1 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-features-item-top .xs {
  font-size: 24px;
}
.wrapper main .main_ban-item-features-item-top .s {
  font-size: 32px;
}
.wrapper main .main_ban-item-features-item-bot {
  margin-top: 15px;
  font: 400 11px/1 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #6E6E6E;
}
.wrapper main .main_ban-item-items_wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper main .main_ban-item-items_wr-num {
  margin-right: 30px;
  color: #fe5000;
  font: 400 55px/1 'Circe', 'Arial', sans-serif;
}
.wrapper main .main_ban-item-items_wr-num span {
  font-size: 94px;
}
.wrapper main .main_ban-item-items_wr-list {
  font: 400 16px/22px 'Circe', 'Arial', sans-serif;
  color: #333;
}
.wrapper main .main_ban-item-items_wr-list ul {
  margin: 0;
  padding-left: 20px;
}
.wrapper main .main_ban-item-items_wr-list ul li {
  margin-bottom: 10px;
}
.wrapper main .main_ban-item-items_wr-list ul li:last-child {
  margin-bottom: 0;
}
.wrapper main .main_ban-item-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}
.wrapper main .main_ban-item-btn {
  margin-right: 30px;
}
.wrapper main .main_ban-item-btn a {
  display: inline-block;
  padding: 0 50px;
  font: 400 14px/50px 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: #fe5000;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
}
.wrapper main .main_ban-item-btn a:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
          box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
}
.wrapper main .main_ban-item-link a {
  position: relative;
  padding-right: 25px;
  font: 400 14px/1 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #373A36;
}
.wrapper main .main_ban-item-link a:after {
  position: absolute;
  right: 10px;
  top: 45%;
  width: 7px;
  height: 7px;
  border: 1px solid #373A36;
  border-bottom-width: 0;
  border-left-width: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  content: '';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .main_ban-item-link a:hover:after {
  -webkit-transform: translateY(-50%) translateX(2px) rotate(45deg);
          transform: translateY(-50%) translateX(2px) rotate(45deg);
}
.wrapper main .main_ban-item-img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.wrapper main .main_ban-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main .main_ban-item-img .mobile {
  display: none;
}
.wrapper main .main_ban-nav {
  position: absolute;
  right: 40px;
  bottom: 50px;
  padding: 0 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
}
.wrapper main .main_ban-nav-btn-prev,
.wrapper main .main_ban-nav-btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
}
.wrapper main .main_ban-nav-btn-prev:before,
.wrapper main .main_ban-nav-btn-next:before {
  position: absolute;
  top: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid #6E6E6E;
  border-right-width: 0;
  border-bottom-width: 0;
  content: '';
}
.wrapper main .main_ban-nav-btn-prev {
  left: 0;
}
.wrapper main .main_ban-nav-btn-prev:before {
  left: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.wrapper main .main_ban-nav-btn-next {
  right: 0;
}
.wrapper main .main_ban-nav-btn-next:before {
  right: 7px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.wrapper main .main_ban-nav-pagination {
  position: relative;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}
.wrapper main .main_ban-nav-pagination-num {
  font: 400 15px/50px 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #6E6E6E;
}
.wrapper main .main_ban-nav-pagination-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper main .useful_goods_block {
  color: #373A36;
}
.wrapper main .useful_goods_block .inner {
  padding-bottom: 45px;
}
.wrapper main .useful_goods_block-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.wrapper main .useful_goods_block-title {
  margin-right: 30px;
  font: 700 40px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .useful_goods_block-nav {
  width: 540px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  overflow: hidden;
}
.wrapper main .useful_goods_block-nav-wrap {
  position: relative;
  height: 2px;
  margin: 15px 0;
}
.wrapper main .useful_goods_block .swiper-scrollbar {
  width: 100%;
  height: 100%;
  background: #E3E3E3;
}
.wrapper main .useful_goods_block .swiper-scrollbar-drag {
  top: -15px;
  height: 32px;
  border-radius: 50%;
  background: #7F94A8;
  cursor: pointer;
}
.wrapper main .useful_goods_block .swiper-scrollbar-drag:before {
  position: absolute;
  top: 11px;
  left: 10px;
  width: 9px;
  height: 9px;
  border: 1.5px solid #FFFFFF;
  border-right-width: 0;
  border-bottom-width: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  content: '';
}
.wrapper main .useful_goods_block .swiper-pagination {
  width: 100%;
  height: 100%;
}
.wrapper main .useful_goods_block .swiper-btn-next,
.wrapper main .useful_goods_block .swiper-btn-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7F94A8;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 3px 15px rgba(135, 151, 155, 0.25);
          box-shadow: 0px 3px 15px rgba(135, 151, 155, 0.25);
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.wrapper main .useful_goods_block .swiper-btn-next.swiper-button-disabled,
.wrapper main .useful_goods_block .swiper-btn-prev.swiper-button-disabled {
  background-color: #F4F4F4;
}
.wrapper main .useful_goods_block .swiper-btn-next {
  left: calc(100% + 20px);
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.59998 1.59998L7.19997 7.99998L1.59998 14.4' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.wrapper main .useful_goods_block .swiper-btn-prev {
  right: calc(100% + 20px);
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39999 14.4L1.8 8.00002L7.4 1.60002' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.wrapper main .useful_goods_block .swiper-pagination {
  height: 12px;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  font-size: 0;
  text-align: center;
}
.wrapper main .useful_goods_block .swiper-pagination-bullet {
  position: relative;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background: #E3E3E3;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.wrapper main .useful_goods_block .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #7F94A8;
}
.wrapper main .useful_goods_block-slider {
  position: relative;
}
.wrapper main .useful_goods_block-slider-item {
  width: 400px;
  background: #E3E3E3;
  border-radius: 8px;
  overflow: hidden;
}
.wrapper main .useful_goods_block-slider-item.big {
  width: 740px;
  background: #ECEDEE;
}
.wrapper main .useful_goods_block-slider-item.big .useful_goods_block-slider-item-content {
  padding-right: 330px;
}
.wrapper main .useful_goods_block-slider-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 380px;
  padding: 40px 120px 40px 30px;
}
.wrapper main .useful_goods_block-slider-item-title,
.wrapper main .useful_goods_block-slider-item-list,
.wrapper main .useful_goods_block-slider-item-link,
.wrapper main .useful_goods_block-slider-item-txt {
  position: relative;
  z-index: 1;
}
.wrapper main .useful_goods_block-slider-item-title {
  margin-bottom: 30px;
  font: 700 24px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .useful_goods_block-slider-item-txt {
  font: 400 18px/24px 'Circe', 'Arial', sans-serif;
}
.wrapper main .useful_goods_block-slider-item-txt-big {
  margin-top: 15px;
  font: 900 80px/1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
}
.wrapper main .useful_goods_block-slider-item-txt-big span {
  font-size: 60px;
}
.wrapper main .useful_goods_block-slider-item-list {
  margin-bottom: 30px;
  padding-left: 0;
  font: 400 18px/1.1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
  list-style: none;
}
.wrapper main .useful_goods_block-slider-item-list li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}
.wrapper main .useful_goods_block-slider-item-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;
  width: 4px;
  height: 4px;
  background: #fe5000;
  border-radius: 50%;
}
.wrapper main .useful_goods_block-slider-item-list li:last-child {
  margin-bottom: 0;
}
.wrapper main .useful_goods_block-slider-item-list li span {
  color: #373A36;
}
.wrapper main .useful_goods_block-slider-item-link {
  margin-top: auto;
}
.wrapper main .useful_goods_block-slider-item-link a {
  display: inline-block;
  padding: 0 50px;
  font: 400 14px/50px 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: #FFF;
  color: #fe5000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
  white-space: nowrap;
}
.wrapper main .useful_goods_block-slider-item-link a:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
          box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
}
.wrapper main .useful_goods_block-slider-item-img {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrapper main .useful_goods_block-slider-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main .useful_goods_block-slider-item-img .mobile {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main .useful_goods_block-slider .swiper-container {
  overflow: visible;
}
.wrapper main .useful_goods_block-slider.with_btns .swiper-container {
  overflow: hidden;
}
.wrapper main .useful_goods_block-slider.with_btns .useful_goods_block-slider-item {
  width: 393px;
}
.wrapper main .app_adv_block {
  margin-top: 100px;
}
.wrapper main .app_adv_block-content {
  position: relative;
  padding: 55px 620px 55px 100px;
  background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#EDF3F7));
  background: linear-gradient(90deg, #F8F8F8 0%, #EDF3F7 100%);
  border-radius: 8px;
}
.wrapper main .app_adv_block-title {
  margin-bottom: 15px;
  font: 700 32px/1.2 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .app_adv_block-list {
  margin-bottom: 45px;
  padding-left: 20px;
  font: 400 18px/1.1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
}
.wrapper main .app_adv_block-list li {
  margin-bottom: 15px;
}
.wrapper main .app_adv_block-list li:last-child {
  margin-bottom: 0;
}
.wrapper main .app_adv_block-list li span {
  color: #373A36;
}
.wrapper main .app_adv_block-links-btn {
  display: inline-block;
  padding: 0 50px;
  font: 400 14px/50px 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: #fe5000;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
}
.wrapper main .app_adv_block-links-btn:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
          box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
}
.wrapper main .app_adv_block-img {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.wrapper main .app_adv_block-img img {
  max-width: 100%;
}
.wrapper main .services_block {
  margin-top: 80px;
  color: #373A36;
}
.wrapper main .services_block-title {
  margin-bottom: 30px;
  font: 700 49px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .services_block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper main .services_block-content-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 220px;
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  margin-top: 30px;
  padding: 50px 40px 40px 120px;
  text-decoration: none;
  background: #FFF;
  color: inherit;
  -webkit-box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.25);
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.25);
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .services_block-content-item:hover {
  -webkit-box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.35);
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.35);
}
.wrapper main .services_block-content-item:hover .services_block-content-item-link:after {
  -webkit-transform: translateY(-50%) translateX(2px) rotate(45deg);
          transform: translateY(-50%) translateX(2px) rotate(45deg);
}
.wrapper main .services_block-content-item:nth-child(-n+2) {
  margin-top: 0;
}
.wrapper main .services_block-content-item:nth-child(2n) {
  margin-right: 0;
}
.wrapper main .services_block-content-item:last-child {
  margin-right: 0;
}
.wrapper main .services_block-content-item:before {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 56px;
  height: 56px;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}
.wrapper main .services_block-content-item.pr_metals:before {
  background-image: url(../img/ic.safe-box.svg);
}
.wrapper main .services_block-content-item.acquiring:before {
  background-image: url(../img/ic.pos.svg);
}
.wrapper main .services_block-content-item.law:before {
  background-image: url(../img/ic.law.svg);
}
.wrapper main .services_block-content-item.salary:before {
  background-image: url(../img/ic.credit-card.svg);
}
.wrapper main .services_block-content-item-title {
  width: 100%;
  margin-bottom: 15px;
  font: 700 24px/1.2 'Circe', 'Arial', sans-serif;
}
.wrapper main .services_block-content-item-desc {
  width: 100%;
  margin-bottom: 20px;
  font: 400 18px/24px 'Circe', 'Arial', sans-serif;
}
.wrapper main .services_block-content-item-link {
  position: relative;
  margin-top: auto;
  padding-right: 25px;
  font: 400 14px/1 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #fe5000;
}
.wrapper main .services_block-content-item-link:after {
  position: absolute;
  right: 10px;
  top: 45%;
  width: 7px;
  height: 7px;
  border: 1px solid #fe5000;
  border-bottom-width: 0;
  border-left-width: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  content: '';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .open_acc_form {
  margin-top: 80px;
  color: #373A36;
  text-align: center;
}
.wrapper main .open_acc_form-step {
  display: none;
}
.wrapper main .open_acc_form-step.active {
  display: block;
}
.wrapper main .open_acc_form-content {
  padding: 40px 150px 50px;
  background: #ECEDEE;
  border-radius: 8px;
}
.wrapper main .open_acc_form-title {
  margin-bottom: 10px;
  font: 700 40px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .open_acc_form-desc {
  max-width: 600px;
  margin: 0 auto 40px;
  font: 400 18px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .open_acc_form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.wrapper main .open_acc_form-main-item {
  position: relative;
  margin-right: 20px;
}
.wrapper main .open_acc_form-main-item:last-child {
  margin-right: 0;
}
.wrapper main .open_acc_form-main-item-span {
  display: none;
  position: absolute;
  left: 10px;
  top: calc(100% + 5px);
  font: 400 12px/1.3 'Circe', 'Arial', sans-serif;
  color: #FE1E00;
}
.wrapper main .open_acc_form-main-item.error input[type="text"],
.wrapper main .open_acc_form-main-item.error .bootstrap-select button {
  color: #FE1E00 !important;
}
.wrapper main .open_acc_form-main-item.error input[type="text"]::-webkit-input-placeholder {
  color: #FE1E00;
}
.wrapper main .open_acc_form-main-item.error input[type="text"]:-ms-input-placeholder {
  color: #FE1E00;
}
.wrapper main .open_acc_form-main-item.error input[type="text"]::-ms-input-placeholder {
  color: #FE1E00;
}
.wrapper main .open_acc_form-main-item.error input[type="text"]::placeholder {
  color: #FE1E00;
}
.wrapper main .open_acc_form-main-item.error .open_acc_form-main-item-span {
  display: block;
}
.wrapper main .open_acc_form-main-item.phone {
  width: calc(100% - 350px - 205px - 40px);
}
.wrapper main .open_acc_form-main-item.select {
  width: 350px;
}
.wrapper main .open_acc_form-main-item.code {
  width: 150px;
}
.wrapper main .open_acc_form-main-item input,
.wrapper main .open_acc_form-main-item select {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  font: 400 16px/48px 'Circe', 'Arial', sans-serif;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrapper main .open_acc_form-main-item input[type="text"] {
  padding: 0 30px;
  border: 1px solid #C8C8C8;
  color: #373A36;
}
.wrapper main .open_acc_form-main-item .btn_action {
  width: 205px;
  padding: 0;
  border: 1px solid #fe5000;
  font-size: 14px;
  text-transform: uppercase;
  background: #fe5000;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .open_acc_form-main-item .btn_action:hover {
  -webkit-box-shadow: 2px 1px 18px 2px rgba(254, 80, 0, 0.2);
          box-shadow: 2px 1px 18px 2px rgba(254, 80, 0, 0.2);
}
.wrapper main .open_acc_form-main-item .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.wrapper main .open_acc_form-main-item .bootstrap-select.open > .dropdown-toggle.btn-default:hover {
  border-color: #C8C8C8;
}
.wrapper main .open_acc_form-main-item .bootstrap-select button {
  height: 50px;
  padding: 0 50px 0 30px;
  border: 1px solid #C8C8C8;
  font: 400 14px/48px 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .inner {
  width: auto;
  scrollbar-width: thin;
  scrollbar-color: #7F94A8 #E3E3E3;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .inner::-webkit-scrollbar {
  width: 3px;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .inner::-webkit-scrollbar-track {
  width: 1px;
  background: #E3E3E3;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .inner::-webkit-scrollbar-thumb {
  width: 3px;
  background: #7F94A8;
  border-radius: 3px;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-toggle.bs-placeholder {
  color: #373A36;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-toggle .filter-option {
  padding-right: 0;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-toggle .caret {
  right: 20px;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px 5px 0;
  -webkit-box-shadow: 0px 3px 20px rgba(135, 151, 155, 0.25);
          box-shadow: 0px 3px 20px rgba(135, 151, 155, 0.25);
  border-radius: 6px;
  background: #fff;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu .dropdown-menu {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu .active > a,
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu .active > a:focus,
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu .active > a:hover {
  background: #F8F8F8;
  color: #fe5000;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu li a {
  padding: 8px 30px;
  font: 400 14px/24px 'Circe', 'Arial', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu li a:focus,
.wrapper main .open_acc_form-main-item .bootstrap-select .dropdown-menu li a:hover {
  background: #F8F8F8;
  color: #fe5000;
  outline: none;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .btn-default {
  background: #fff;
}
.wrapper main .open_acc_form-main-item .bootstrap-select .btn.active,
.wrapper main .open_acc_form-main-item .bootstrap-select .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrapper main .open_acc_form-urls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper main .open_acc_form-urls button {
  display: block;
  width: auto;
  margin: 0 auto;
  height: 20px;
  padding: 0;
  border: none;
  font: 14px/20px 'Circe', 'Arial', sans-serif;
  text-decoration: underline;
  background: transparent;
  color: #fe5000;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .open_acc_form-urls button:disabled {
  cursor: not-allowed;
  text-decoration: none;
  color: #999;
}
.wrapper main .open_acc_form-urls-change_num {
  margin-right: 20px;
}
.wrapper main .open_acc_form-urls-repeat_sms {
  font: 14px/20px 'Circe', 'Arial', sans-serif;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper main .open_acc_form-urls-repeat_sms span {
  display: block;
  margin-left: 5px;
}
.wrapper main .open_acc_form-foot {
  font: 400 14px/1.3 'Circe', 'Arial', sans-serif;
  color: #6E6E6E;
}
.wrapper main .open_acc_form-foot a {
  color: #fe5000;
}
.wrapper main .bonuses_block {
  margin-top: 80px;
  padding: 45px 0 60px;
  background-color: #728f97;
  background-image: url(../img/bonuses_bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
.wrapper main .bonuses_block-head {
  margin-bottom: 35px;
  color: #fff;
}
.wrapper main .bonuses_block-title {
  margin-bottom: 5px;
  font: 700 40px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .bonuses_block-desc {
  font: 400 20px/1.3 'Circe', 'Arial', sans-serif;
}
.wrapper main .bonuses_block-slider {
  margin-bottom: 30px;
}
.wrapper main .bonuses_block-slider-item {
  width: 270px;
  padding: 35px 20px;
  background: #FFF;
  border-radius: 8px;
}
.wrapper main .bonuses_block-slider-item-img {
  height: 65px;
}
.wrapper main .bonuses_block-slider-item-img img {
  max-width: 100%;
  max-height: 100%;
}
.wrapper main .bonuses_block-slider-item-main {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #E3E3E3;
}
.wrapper main .bonuses_block-slider-item-main-title {
  margin-bottom: 10px;
  font: 700 32px/1.2 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .bonuses_block-slider-item-main-desc {
  height: 60px;
  font: 400 16px/20px 'Circe', 'Arial', sans-serif;
  color: #6E6E6E;
  overflow: hidden;
}
.wrapper main .bonuses_block-slider .swiper-container {
  overflow: visible;
}
.wrapper main .bonuses_block-link_all a {
  display: inline-block;
  font: 400 20px/1.3 'Circe', 'Arial', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .bonuses_block-link_all a:hover {
  border-color: transparent;
}
.wrapper main .info_section {
  margin-top: 80px;
}
.wrapper main .info_section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper main .info_section .currency_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 740px;
  height: 375px;
  margin-right: 20px;
  padding: 40px 40px 20px;
  background: rgba(227, 227, 227, 0.4);
}
.wrapper main .info_section .currency_block-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.wrapper main .info_section .currency_block-switch-txt {
  font: 700 36px/44px 'Circe', 'Arial', sans-serif;
  color: #C8C8C8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.wrapper main .info_section .currency_block-switch-txt.active {
  color: #373A36;
}
.wrapper main .info_section .currency_block-switch-txt:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.wrapper main .info_section .currency_block-switch-txt:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.wrapper main .info_section .currency_block-switch-btn {
  position: relative;
  width: 42px;
  height: 22px;
  margin: 0 15px;
  border: 1.3px solid #C8C8C8;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.wrapper main .info_section .currency_block-switch-btn:before {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 2px;
  background: #373A36;
  border-radius: 50%;
  content: '';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .info_section .currency_block-switch-btn.active:before {
  left: 20px;
}
.wrapper main .info_section .currency_block-tab_btns {
  margin-bottom: 25px;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select {
  width: auto;
  height: auto;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .btn {
  height: auto;
  padding: 0 15px 0 0;
  background: transparent;
  border: 0;
  font: 400 18px/1.2 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .btn .filter-option {
  padding: 0;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .btn.active,
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .caret {
  right: 0;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu {
  width: auto;
  min-width: 255px;
  margin-top: 10px;
  padding: 8px 0;
  border: 0;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu .inner {
  width: auto;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu .dropdown-menu {
  margin: 0;
  padding: 0;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu li a {
  padding: 8px 15px;
  font: 400 14px/1.1 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu li a:focus {
  outline: none;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu .active > a,
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu .active > a:focus,
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-menu .active > a:hover {
  color: #3b8b94;
  background: transparent;
}
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .select.mobile-device:focus + .dropdown-toggle,
.wrapper main .info_section .currency_block-tab_btns .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.wrapper main .info_section .currency_block-content {
  margin-bottom: 30px;
}
.wrapper main .info_section .currency_block-content-item {
  display: none;
}
.wrapper main .info_section .currency_block-content .currency_block-tables_wrap-item {
  display: none;
}
.wrapper main .info_section .currency_block-table {
  color: #373A36;
}
.wrapper main .info_section .currency_block-table.metals {
  padding-top: 47px;
}
.wrapper main .info_section .currency_block-table.metals .currency_block-table-td:nth-last-child(1),
.wrapper main .info_section .currency_block-table.metals .currency_block-table-td:nth-last-child(2) {
  width: 115px;
}
.wrapper main .info_section .currency_block-table-tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #E3E3E3;
}
.wrapper main .info_section .currency_block-table-tr:last-child {
  border-bottom: 0;
}
.wrapper main .info_section .currency_block-table-td {
  width: 70px;
  margin-right: 40px;
  font: 700 16px/1 'Circe', 'Arial', sans-serif;
}
.wrapper main .info_section .currency_block-table-td:last-child {
  margin-right: 0;
}
.wrapper main .info_section .currency_block-table-td span {
  font-weight: 400;
}
.wrapper main .info_section .currency_block-table-td span.arrow-down,
.wrapper main .info_section .currency_block-table-td span.arrow-up {
  position: relative;
  padding-right: 13px;
}
.wrapper main .info_section .currency_block-table-td span.arrow-down:after,
.wrapper main .info_section .currency_block-table-td span.arrow-up:after {
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
  height: 0;
  content: '';
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.wrapper main .info_section .currency_block-table-td span.arrow-down:after {
  border-top: 5px solid #DF2222;
}
.wrapper main .info_section .currency_block-table-td span.arrow-up:after {
  border-top: 0;
  border-bottom: 5px solid #5CBD10;
}
.wrapper main .info_section .currency_block-table .tr_name {
  width: 125px;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #6E6E6E;
}
.wrapper main .info_section .currency_block-foot {
  margin-top: auto;
  font: 300 14px/1.5 'Circe', 'Arial', sans-serif;
  color: #6E6E6E;
}
.wrapper main .info_section-link_box {
  display: block;
  width: calc(100% - 760px);
  padding: 40px 150px 40px 30px;
  text-decoration: none;
  color: #373A36;
  background: rgba(227, 227, 227, 0.4);
}
.wrapper main .info_section-link_box-title {
  margin-bottom: 15px;
  font: 700 36px/1.1 'Circe', 'Arial', sans-serif;
}
.wrapper main .info_section-link_box-desc {
  max-width: 250px;
  margin-bottom: 60px;
  font: 400 18px/1.5 'Circe', 'Arial', sans-serif;
}
.wrapper main .info_section-link_box-btn {
  width: 190px;
  font: 400 14px/50px 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #fe5000;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .info_section-link_box-btn:hover {
  -webkit-box-shadow: 2px 1px 18px 2px rgba(254, 80, 0, 0.2);
          box-shadow: 2px 1px 18px 2px rgba(254, 80, 0, 0.2);
}
.wrapper main .to_documents_block {
  margin-top: 105px;
}
.wrapper main .to_documents_block-content {
  padding: 40px 600px 40px 100px;
  background: #F4F4F4;
  border-radius: 8px;
}
.wrapper main .to_documents_block-content-title {
  margin-bottom: 15px;
  font: 700 36px/1.3 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .to_documents_block-content-link a {
  position: relative;
  padding-right: 25px;
  font: 400 14px/1 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #fe5000;
}
.wrapper main .to_documents_block-content-link a:after {
  position: absolute;
  right: 10px;
  top: 45%;
  width: 7px;
  height: 7px;
  border: 1px solid #fe5000;
  border-bottom-width: 0;
  border-left-width: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  content: '';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .to_documents_block-content-link a:hover:after {
  -webkit-transform: translateY(-50%) translateX(2px) rotate(45deg);
          transform: translateY(-50%) translateX(2px) rotate(45deg);
}
.wrapper main .to_documents_block-img {
  position: absolute;
  right: 200px;
  bottom: 0;
}
.wrapper main .to_documents_block-img img {
  max-width: 100%;
}
.wrapper main .news_block {
  margin-top: 60px;
}
.wrapper main .news_block-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E3E3E3;
}
.wrapper main .news_block-title {
  margin-right: 30px;
  font: 700 40px/1.3 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .news_block-all_news {
  margin-left: auto;
}
.wrapper main .news_block-all_news a {
  position: relative;
  padding-right: 25px;
  font: 400 14px/1 'Circe', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #373A36;
}
.wrapper main .news_block-all_news a:after {
  position: absolute;
  right: 10px;
  top: 45%;
  width: 7px;
  height: 7px;
  border: 1px solid #373A36;
  border-bottom-width: 0;
  border-left-width: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  content: '';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .news_block-all_news a:hover:after {
  -webkit-transform: translateY(-50%) translateX(2px) rotate(45deg);
          transform: translateY(-50%) translateX(2px) rotate(45deg);
}
.wrapper main .news_block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper main .news_block-content-item {
  display: block;
  width: calc((100% - 140px) / 3);
  padding: 20px 35px;
  margin-right: 70px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper main .news_block-content-item:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.wrapper main .news_block-content-item:nth-child(1) {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.wrapper main .news_block-content-item:last-child {
  margin-right: 0;
}
.wrapper main .news_block-content-item-date {
  margin-bottom: 10px;
  font: 300 14px/1 'Circe', 'Arial', sans-serif;
  color: #3b8b94;
}
.wrapper main .news_block-content-item-desc {
  font: 400 16px/22px 'Circe', 'Arial', sans-serif;
  position: relative;
  display: block;
  height: 66px;
  color: #373A36;
  overflow: hidden;
}
.wrapper main .news_block-content-item-desc:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  height: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: '';
  pointer-events: none;
}
.wrapper main .news_block-content-item-desc:hover:after {
  opacity: 0;
}
.wrapper main .news_block.news_with_img .news_block-content-item {
  position: relative;
}
.wrapper main .news_block.news_with_img .news_block-content-item:nth-child(1) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wrapper main .news_block.news_with_img .news_block-content-item:nth-child(1):hover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.wrapper main .news_block.news_with_img .news_block-content-item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper main .news_block.news_with_img .news_block-content-item-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 4px 14px;
  font: 400 12px/1 'Circe', 'Arial', sans-serif;
  color: #fe5000;
  background: #fff;
  border-radius: 4px;
}
.wrapper main .news_block.news_with_img .news_block-content-item-date {
  color: #28505F;
}
.wrapper main .news_block.news_with_img .news_block-content-item-title {
  margin-bottom: 10px;
  font: 700 16px/22px 'Circe', 'Arial', sans-serif;
  color: #373A36;
}
.wrapper main .news_block.news_with_img .news_block-content-item-desc {
  height: 88px;
}
.wrapper main .news_block.news_with_img .news_block-content-item-head,
.wrapper main .news_block.news_with_img .news_block-content-item-title,
.wrapper main .news_block.news_with_img .news_block-content-item-desc {
  position: relative;
  z-index: 1;
}
.wrapper main .news_block.news_with_img .news_block-content-item-img {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  text-align: right;
}
.wrapper main .news_block.news_with_img .news_block-content-item-img img {
  height: 100%;
}
.wrapper main .news_block.news_with_img .news_block-content-item.webinar {
  padding-left: 25px;
  padding-right: 25px;
  background: #F6F6F6;
  border-radius: 8px;
}
.wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-title {
  max-width: 200px;
}
.wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-desc {
  max-width: 175px;
}
.wrapper main .news_block.news_with_img .news_block-content-item.webinar .news_block-content-item-desc:after {
  display: none;
}
