@media (max-width: 1920px) {
  .wrapper main .top_ban-img img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 100%;
  }
}
@media (max-width: 1259px) {
  .wrapper main .inner {
    width: 980px;
  }
  .wrapper main .features-title {
    max-width: 840px;
  }
  .wrapper main .features-item {
    width: 470px;
  }
  .wrapper main .features-item:nth-child(3) {
    margin-top: 30px;
  }
  .wrapper main .features-item:nth-child(3n) {
    margin-right: 40px;
  }
  .wrapper main .features-item:nth-child(2n) {
    margin-right: 0;
  }
  .wrapper main .features-item br {
    display: none;
  }
  .wrapper main .conditions-list {
    width: 480px;
  }
  .wrapper main .conditions-adv {
    width: 420px;
    padding: 50px;
  }
}
@media (max-width: 999px) {
  .wrapper main .inner {
    width: 740px;
  }
  .wrapper main .top_ban {
    height: 380px;
  }
  .wrapper main .top_ban .inner {
    padding-top: 100px;
  }
  .wrapper main .top_ban-title {
    max-width: 500px;
    font-size: 44px;
    line-height: 52px;
  }
  .wrapper main .top_ban-btn {
    margin-top: 65px;
  }
  .wrapper main .features-container {
    padding: 40px 0 45px;
  }
  .wrapper main .features-title {
    max-width: 630px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 29px;
  }
  .wrapper main .features-item {
    width: calc((100% - 40px) / 2);
  }
  .wrapper main .features-item br {
    display: inline;
  }
  .wrapper main .conditions-container {
    padding: 50px 0;
  }
  .wrapper main .conditions-title {
    font-size: 20px;
    line-height: 29px;
  }
  .wrapper main .conditions-title-inner {
    max-width: 510px;
  }
  .wrapper main .conditions-list {
    width: 405px;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .conditions-list li {
    padding-left: 45px;
    margin-bottom: 30px;
  }
  .wrapper main .conditions-list li:before {
    width: 28px;
    height: 28px;
  }
  .wrapper main .conditions-adv {
    width: 300px;
    padding: 35px 30px;
  }
  .wrapper main .conditions-adv-title {
    font-size: 24px;
  }
  .wrapper main .conditions-adv-title span {
    font-size: 50px;
  }
  .wrapper main .conditions-adv-descr {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }
  .wrapper main .book_account_form {
    padding: 60px 0 80px;
  }
}
@media (max-width: 767px) {
  .wrapper main .inner {
    width: 95%;
    min-width: 300px;
  }
  .wrapper main .top_ban {
    height: 240px;
  }
  .wrapper main .top_ban .inner {
    padding-top: 40px;
  }
  .wrapper main .top_ban-title {
    max-width: 210px;
    font-size: 26px;
    line-height: 32px;
  }
  .wrapper main .top_ban-btn {
    margin-top: 40px;
  }
  .wrapper main .top_ban-btn a {
    padding: 11px 24px;
    font-size: 12px;
  }
  .wrapper main .features-container {
    padding: 40px 0 60px;
  }
  .wrapper main .features-wrapper {
    display: block;
  }
  .wrapper main .features-title {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .features-item {
    width: auto;
    min-height: 100px;
    margin-right: 0;
    margin-top: 15px;
    padding: 15px 20px 20px;
  }
  .wrapper main .features-item:nth-child(3),
  .wrapper main .features-item:nth-child(2) {
    margin-top: 15px;
  }
  .wrapper main .features-item:nth-child(3n) {
    margin-right: 0;
  }
  .wrapper main .features-item br {
    display: none;
  }
  .wrapper main .conditions-container {
    padding: 30px 0 40px;
  }
  .wrapper main .conditions-title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .conditions-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: 0;
  }
  .wrapper main .conditions-adv {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 30px;
    padding: 35px 45px;
  }
  .wrapper main .book_account_form .title {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
@media (max-width: 374px) {
  .wrapper main .features-item {
    padding: 15px;
  }
  .wrapper main .conditions-adv {
    padding: 35px 30px;
  }
}
