.wrapper .docs_icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .docs_icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 110px) / 2);
  margin-right: 110px;
  margin-top: 30px;
}
.wrapper .docs_icon-item:nth-child(2n),
.wrapper .docs_icon-item:last-child {
  margin-right: 0;
}
.wrapper .docs_icon-item:nth-child(-n+2) {
  margin-top: 0;
}
.wrapper .docs_icon-item-in {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 44px;
  padding-left: 65px;
  font: 400 18px/1.5 'Circe', 'Arial', sans-serif;
  text-decoration: none;
}
.wrapper .docs_icon-item-in:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M39.3318 9.76714C39.2839 9.76714 39.2839 9.71926 39.236 9.67138C39.1881 9.6235 39.1881 9.57563 39.1403 9.52775L30.9052 0.287269C30.8573 0.239391 30.7616 0.191513 30.7137 0.143634C30.6658 0.143634 30.6658 0.0957563 30.6179 0.0957563C30.5222 0.0478781 30.3786 0 30.2349 0H10.0303C7.0619 0 4.62012 2.44178 4.62012 5.41023V38.5898C4.62012 41.5582 7.0619 44 10.0303 44H33.9694C36.9379 44 39.3796 41.5582 39.3796 38.5898V10.1023C39.3796 10.0065 39.3318 9.86289 39.3318 9.76714ZM31.1446 3.25571L36.4591 9.24048H31.1446V3.25571ZM37.5603 38.5419C37.5603 40.5528 35.9803 42.1806 33.9694 42.1806H10.0303C8.01947 42.1806 6.43949 40.5528 6.43949 38.5898V5.36235C6.43949 3.35147 8.06734 1.77149 10.0303 1.77149H29.3252V10.1023C29.3252 10.5811 29.7083 11.012 30.2349 11.012H37.5603V38.5419Z' fill='%23449099'/%3E%3Cpath d='M11.0835 21.0118H19.0792C19.5579 21.0118 19.9888 20.6287 19.9888 20.1021C19.9888 19.5754 19.6058 19.1924 19.0792 19.1924H11.0835C10.6047 19.1924 10.1738 19.5754 10.1738 20.1021C10.1738 20.6287 10.6047 21.0118 11.0835 21.0118Z' fill='%23449099'/%3E%3Cpath d='M19.0792 33.6504H11.0835C10.6047 33.6504 10.1738 34.0334 10.1738 34.5601C10.1738 35.0389 10.5569 35.4698 11.0835 35.4698H19.0792C19.5579 35.4698 19.9888 35.0867 19.9888 34.5601C19.9888 34.0813 19.5579 33.6504 19.0792 33.6504Z' fill='%23449099'/%3E%3Cpath d='M10.1738 24.9214C10.1738 25.4002 10.5569 25.8311 11.0835 25.8311H32.4372C32.9159 25.8311 33.3468 25.4481 33.3468 24.9214C33.3468 24.4426 32.9638 24.0117 32.4372 24.0117H11.0835C10.6047 24.0117 10.1738 24.3947 10.1738 24.9214Z' fill='%23449099'/%3E%3Cpath d='M32.4372 28.8311H11.0835C10.6047 28.8311 10.1738 29.2141 10.1738 29.7407C10.1738 30.2195 10.5569 30.6504 11.0835 30.6504H32.4372C32.9159 30.6504 33.3468 30.2674 33.3468 29.7407C33.3468 29.2141 32.9638 28.8311 32.4372 28.8311Z' fill='%23449099'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='44' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}
.wrapper .docs_icon-item-in span {
  -ms-flex-item-align: center;
      align-self: center;
  color: #373a36;
}
.wrapper .docs_icon-footnote {
  margin-top: 20px;
  font: 400 14px/21px 'Circe', 'Arial', sans-serif;
  color: #6e6e6e;
}
@media (max-width: 999px) {
  .wrapper .docs_icon-wrapper {
    display: block;
  }
  .wrapper .docs_icon-item {
    width: auto;
    margin-right: 0;
    margin-top: 25px;
  }
  .wrapper .docs_icon-item:nth-child(2) {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .wrapper .docs_icon-item-in {
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper .docs_icon-footnote {
    font-size: 12px;
    line-height: 18px;
  }
}
