@font: 'Circe', 'Arial', sans-serif;
@white: #fff;
@orange: #fe5000;
@blue: #4a7cbd;
@grey: #f8f8f8;
@dark_grey: #666;
@black: #373a36;

.popup.over {
  overflow: hidden;
}

.wrapper {
  font-family: @font;

  main {
    .main_ban {
      &-item {
        position: relative;
        color: @black;
        background: #e4eff0;
        .inner {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          height: 500px;
          padding: 140px 0 50px;
        }
        &-title {
          max-width: 650px;
          margin-bottom: 20px;
          font: 700 56px/64px @font;
        }
        &-desc {
          font: 300 20px/29px @font;
          ul {
            padding-left: 20px;
            margin-bottom: 0;
            li {
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        &-foot {
          display: flex;
          align-items: center;
          margin-top: auto;
          &-item {
            margin-right: 50px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        &-btn {
          a {
            display: inline-block;
            padding: 0 50px;
            font: 400 14px/50px @font;
            text-transform: uppercase;
            text-decoration: none;
            background: @orange;
            color: #fff;
            transition: 0.3s;
            border-radius: 6px;
            &:hover {
              box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
            }
          }
        }
        &-img {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .mobile {
            display: none;
          }
        }
      }
      &-nav {
        position: absolute;
        right: 40px;
        bottom: 50px;
        padding: 0 35px;
        user-select: none;
        z-index: 5;
        &-btn {
          &-prev,
          &-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            cursor: pointer;
            outline: none;
            &:before {
              position: absolute;
              top: 5px;
              width: 10px;
              height: 10px;
              border: 2px solid @dark_grey;
              border-right-width: 0;
              border-bottom-width: 0;
              content: '';
            }
          }
          &-prev {
            left: 0;
            &:before {
              left: 7px;
              transform: rotate(-45deg);
            }
          }
          &-next {
            right: 0;
            &:before {
              right: 7px;
              transform: rotate(135deg);
            }
          }
        }
        &-pagination {
          position: relative;
          width: 50px;
          height: 50px;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          &-num {
            font: 400 15px/50px @font;
            text-transform: uppercase;
            text-align: center;
            color: @dark_grey;
          }
          &-progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .ban_sapid {
      &-container {
        display: none;
        flex-direction: column;
        margin: 20px auto;
      }
      &-box {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
        &-btn {
          height: 80px;
          padding-left: 20px;
          padding-right: 20px;
          justify-content: flex-start;
          cursor: default;
          &-img {
            width: 44px;
            height: 44px;
            margin-right: 20px;
          }
          &-txt {
            font: 700 14px/20px @font;
            text-transform: none;
            text-align: left;
          }
        }
      }
    }

    .page_content.page_content--lp-stocks {
      .how_get_jump {
        &-container {
          padding: 60px 0 100px;
        }
        &-row {
          display: flex;
          justify-content: center;
          align-items: flex-start;
        }
        &-title {
          margin-bottom: 40px;
          font: 700 40px/56px @font;
          text-align: center;
        }
        &-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 320px;
          margin-right: 70px;
          &-img {
            animation: float 3s ease-in-out infinite;
            img {
              width: 180px;
              height: 150px;
            }
          }
          &-txt {
            font: 700 22px/28px @font;
            margin-top: 30px;
            text-align: center;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .loader {
        height: 150px;
        width: 150px;
        margin: 30px auto;
        transform: rotate(-45deg);
        font-size: 0;
        line-height: 0;
        animation: rotate-loader 5s infinite;
        padding: 25px;
        border: 1px solid @orange;

        &-container {
          margin-bottom: 40px;
          padding: 60px 0;
          background: @grey;
        }
        &-title {
          padding-bottom: 30px;
          font: 400 24px/30px @font;
          color: @orange;
          text-align: center;
          br {
            display: none;
          }
        }
      }
      .segment-holder {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 50%;
      }
      .segment {
        position: absolute;
        background: @orange;
      }
      .one {
        bottom: 0;
        height: 0;
        width: 100%;
        animation: slide-one 1s infinite;
      }
      .two {
        left: 0;
        height: 100%;
        width: 0;
        animation: slide-two 1s infinite;
        animation-delay: 0.25s;
      }
      .three {
        right: 0;
        height: 100%;
        width: 0;
        animation: slide-two 1s infinite;
        animation-delay: 0.75s;
      }
      .four {
        top: 0;
        height: 0;
        width: 100%;
        animation: slide-one 1s infinite;
        animation-delay: 0.5s;
      }
      @keyframes slide-one {
        0% {
          height: 0;
          opacity: 1;
        }
        12.5% {
          height: 100%;
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          height: 100%;
          opacity: 0;
        }
      }
      @keyframes slide-two {
        0% {
          width: 0;
          opacity: 1;
        }
        12.5% {
          width: 100%;
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          width: 100%;
          opacity: 0;
        }
      }
      @keyframes rotate-loader {
        0% {
          transform: rotate(-45deg);
        }
        20% {
          transform: rotate(-45deg);
        }
        25% {
          transform: rotate(-135deg);
        }
        45% {
          transform: rotate(-135deg);
        }
        50% {
          transform: rotate(-225deg);
        }
        70% {
          transform: rotate(-225deg);
        }
        75% {
          transform: rotate(-315deg);
        }
        95% {
          transform: rotate(-315deg);
        }
        100% {
          transform: rotate(-405deg);
        }
      }

      .authorization {
        &-container {
          background: @grey;
          margin-bottom: 40px;
          padding: 40px 0 50px;
          text-align: center;
        }
        &-title {
          margin-bottom: 20px;
          font: 700 40px/56px @font;
          text-align: center;
        }
        &-desc {
          width: 645px;
          font: 400 24px/30px @font;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 40px;
        }
        &-input_public_services {
          margin-bottom: 30px;
          a {
            display: inline-block;
            font: 400 20px/22px @font;
            color: @blue;
            padding: 20px 60px;
            background: @white;
            box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
            border-radius: 8px;
            text-decoration: none;
            white-space: nowrap;
            img {
              width: 42px;
              height: 42px;
              margin-right: 20px;
            }
          }
        }
      }

      .not_found {
        &-container {
          padding: 30px 0 35px;
          margin-bottom: 40px;
          background: @grey;
          .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        &-img {
          margin-bottom: 20px;
          img {
            width: 149px;
            height: 128px;
          }
        }
        &-desc {
          margin-bottom: 25px;
          font: 400 24px/30px @font;
          br {
            display: none;
          }
        }
        &-btn {
          a {
            display: inline-block;
            padding: 15px 50px;
            font: 400 14px/21px @font;
            color: @white;
            background: @orange;
            border-radius: 6px;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
              box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
            }
          }
        }
      }

      .subscription {
        &-container {
          padding: 50px 0 130px;
          background: @grey;
          .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
        &-img {
          margin-bottom: 15px;
          img {
            width: 75px;
            height: 75px;
          }
        }
        &-title {
          font: 700 40px/56px @font;
          margin-bottom: 10px;
        }
        &-desc {
          font: 400 24px/30px @font;
          margin-bottom: 40px;
        }
        &-item {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: flex-start;
        }
        &-block {
          width: 590px;
          margin-right: 40px;
          background: @white;
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
          border-radius: 18px;
          &:last-child {
            margin-right: 0;
            .subscription-head {
              background: #dae9ea;
            }
          }
          &:first-child {
            .subscription-head {
              &:after {
                position: absolute;
                width: 36px;
                height: 40px;
                top: 0;
                left: 53px;
                content: '';
                background: url('../img/Vector 21.svg') no-repeat center;
                background-size: contain;
              }
            }
          }
        }
        &-head {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 65px;
          font: 400 26px/28px @font;
          background: #fedcd2;
          border-radius: 18px 18px 0 0;
        }
        &-pay {
          margin: 20px 0;
          font: 400 42px/56px @font;
          color: @orange;
          span {
            font-size: 30px;
            color: @dark_grey;
          }
        }
        &-btn {
          margin-bottom: 25px;
          a {
            display: inline-block;
            padding: 15px 50px;
            font: 400 14px/21px @font;
            color: @white;
            background: @orange;
            border-radius: 6px;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
              box-shadow: 0px 4px 20px rgba(135, 151, 155, 0.3);
            }
          }
        }
        &-slider {
          position: relative;
          width: 100%;
          height: 100%;
          margin-top: 70px;
          overflow: hidden;
          .swiper-wrapper {
            margin-bottom: 30px;
          }
          .swiper-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            &-bullet {
              opacity: 1;
              background: #c3c3c3;
              transition: 0.3s;
              &-active {
                width: 12px;
                height: 12px;
                background: @orange;
              }
            }
          }
          .swiper-button {
            &-next,
            &-prev {
              display: flex;
              justify-content: center;
              align-items: center;
              top: 65%;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: @orange;
              box-shadow: 0px 3px 15px rgba(135, 151, 155, 0.25);
              &:after {
                position: absolute;
                width: 6px;
                height: 13px;
                content: '';
                background: url('../img/Vector 16.svg') no-repeat center;
              }
              &:focus {
                outline: none;
              }
            }
            &-prev {
              &:after {
                transform: rotate(-180deg);
              }
            }
            &-disabled {
              background: #c3c3c3;
              opacity: 1;
            }
          }
          .slide {
            &-img {
              margin-bottom: 20px;
              img {
                width: 100px;
                height: 100px;
              }
            }
            &-title {
              margin-bottom: 10px;
              font: 700 24px/30px @font;
            }
            &-txt {
              margin-bottom: 30px;
              font: 400 20px/26px @font;
            }
          }
        }
      }

      .popup_black {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        z-index: 100;
        display: none;
        transform: translateX(-50%) translateY(-50%);
        background: #000000;
        opacity: 0.3;
      }
      .popup_black.active {
        display: block;
      }
      .popup-error,
      .popup-successfully {
        &-container {
          position: fixed;
          width: 800px;
          top: 50%;
          left: 50%;
          display: none;
          padding: 40px 35px 70px 35px;
          background: @white;
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.25);
          border-radius: 10px;
          transform: translateX(-50%) translateY(-50%);
          text-align: center;
          z-index: 100;
        }
        &-container.active {
          display: block;
        }
        &-btn-close {
          position: absolute;
          width: 20px;
          height: 20px;
          right: 35px;
          top: 35px;
          a {
            display: inline-block;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              opacity: 0.7;
            }
            img {
              width: 12px;
              height: 12px;
            }
          }
        }
        &-img {
          margin-bottom: 10px;
          img {
            width: 172px;
            height: 174px;
          }
        }
        &-title {
          font: 400 24px/30px @font;
        }
        &-txt {
          margin-top: 20px;
          font: 400 20px/26px @font;
        }
      }
      
    }
    .ui-check {
      &-label {
        font: 400 14px/20px @font;
        color: @dark_grey;
        text-align: left;
      }
      a {
        color: @orange;
        text-decoration: none;
      }
    }
  }
}
