@media (max-width: 1259px) {
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt {
    width: auto;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:last-child .how_get_jump-box-txt {
    width: auto;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-title {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-txt {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-txt br {
    display: none;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-block:first-child .subscription-head:after {
    left: 20px;
  }
}
@media (max-width: 999px) {
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-container {
    padding: 50px 0 80px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-title {
    font-size: 32px;
    line-height: 44px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-img {
    width: 105px;
    height: 105px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt {
    font-size: 20px;
    line-height: 26px;
    margin-top: 25px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt br {
    display: none;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:last-child {
    margin-right: 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(1) .how_get_jump-box-img img {
    width: 84px;
    height: 75px;
    top: 10px;
    right: 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(2) .how_get_jump-box-img img {
    width: 85px;
    height: 80px;
    top: 0;
    right: -20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(2) .how_get_jump-box-img img:last-child {
    width: 77px;
    height: 85px;
    left: 0;
    bottom: 0;
    top: auto;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(3) .how_get_jump-box-img img {
    width: 113px;
    height: 107px;
    top: 0;
    right: -10px;
  }
  .wrapper main .page_content.page_content--lp-stocks .grey-block {
    margin-bottom: 30px;
  }
  .wrapper main .page_content.page_content--lp-stocks .loader-container {
    padding: 55px 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .loader-title {
    font-size: 22px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-title {
    font-size: 32px;
    line-height: 44px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-desc {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-input_public_services {
    margin-bottom: 20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .not_found-container {
    padding: 20px 0 30px;
    margin-bottom: 30px;
  }
  .wrapper main .page_content.page_content--lp-stocks .not_found-img {
    margin-bottom: 15px;
  }
  .wrapper main .page_content.page_content--lp-stocks .not_found-desc {
    margin-bottom: 20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-container {
    margin: 40px 0 80px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-img img {
    width: 65px;
    height: 65px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-title {
    font-size: 32px;
    line-height: 44px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-desc {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-block {
    margin-right: 20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-block:first-child .subscription-head:after {
    width: 29px;
    height: 33px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-head {
    font-size: 20px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-pay {
    font-size: 38px;
    line-height: 56px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-pay span {
    font-size: 26px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-title {
    width: 80%;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-txt {
    width: 608px;
    font-size: 18px;
    line-height: 24px;
  }
  .popup-error-container,
  .popup-successfully-container {
    width: 748px;
  }
  .popup-error-title,
  .popup-successfully-title {
    font-size: 22px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-container {
    padding: 40px 0 60px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-img {
    width: 63px;
    height: 63px;
    margin: 0;
    margin-right: 30px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt {
    width: 206px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt br {
    display: none;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:last-child .how_get_jump-box-txt {
    width: 250px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(1) .how_get_jump-box-img img {
    width: 51px;
    height: 45px;
    top: 10px;
    right: 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(2) .how_get_jump-box-img img {
    width: 51px;
    height: 48px;
    top: 0;
    right: -10px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(2) .how_get_jump-box-img img:last-child {
    width: 46px;
    height: 50px;
    left: 0;
    bottom: 0;
    top: auto;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:nth-child(3) .how_get_jump-box-img img {
    width: 68px;
    height: 65px;
    top: 0;
    right: -10px;
  }
  .wrapper main .page_content.page_content--lp-stocks .loader-title {
    margin: 0 auto;
    width: 259px;
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-container {
    padding: 30px 0 40px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-desc {
    width: 355px;
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-input_public_services a {
    padding: 14px 40px;
    font-size: 16px;
  }
  .wrapper main .page_content.page_content--lp-stocks .authorization-input_public_services a img {
    margin-right: 15px;
  }
  .wrapper main .page_content.page_content--lp-stocks .not_found-container {
    padding: 30px 0 30px;
    margin-bottom: 20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .not_found-img img {
    width: 144px;
    height: 123px;
  }
  .wrapper main .page_content.page_content--lp-stocks .not_found-desc {
    max-width: 220px;
    margin: 0 auto 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-container {
    margin: 30px 0 50px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-img img {
    width: 50px;
    height: 50px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-title {
    font-size: 24px;
    line-height: 28px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-desc {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-block {
    margin-right: 0;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-block:first-child {
    margin-bottom: 20px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-block:first-child .subscription-head:after {
    width: 23px;
    height: 26px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-head {
    height: 55px;
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-pay {
    font-size: 34px;
    line-height: 56px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-pay span {
    font-size: 22px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-img img {
    width: 80px;
    height: 80px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-title {
    width: 100%;
    font-size: 22px;
    line-height: 26px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .slide-txt {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .swiper-button-next,
  .wrapper main .page_content.page_content--lp-stocks .subscription-slider .swiper-button-prev {
    z-index: 11;
    top: auto;
    bottom: 0;
  }
  .wrapper main .ui-check {
    width: 305px;
  }
  .popup-error-container,
  .popup-successfully-container {
    width: 95%;
    padding: 40px 20px 50px 20px;
  }
  .popup-error-btn-close,
  .popup-successfully-btn-close {
    top: 25px;
    right: 25px;
  }
  .popup-error-img,
  .popup-successfully-img {
    margin-bottom: 10px;
  }
  .popup-error-img img,
  .popup-successfully-img img {
    width: 155px;
    height: 137px;
  }
  .popup-error-title,
  .popup-successfully-title {
    font-size: 20px;
    line-height: 26px;
  }
  .popup-error-txt,
  .popup-successfully-txt {
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 570px) {
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt {
    width: 250px;
  }
  .wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt br {
    display: block;
  }
}
@media (max-width: 374px) {
  .wrapper main .page_content.page_content--lp-stocks .authorization-desc {
    width: 100%;
  }
  .wrapper main .ui-check-label {
    width: 100%;
  }
}
