.add.over {
  overflow: hidden;
}
.wrapper {
  font-family: 'Circe', 'Arial', sans-serif;
}
.wrapper main .top_ban-container.lp-stocks .top_ban-wrapper {
  height: 500px;
}
.wrapper main .top_ban-container.lp-stocks .top_ban-desc {
  font: 400 20px/29px 'Circe', 'Arial', sans-serif;
  margin-top: 20px;
}
.wrapper main .top_ban-container.lp-stocks .top_ban-desc ul {
  margin-bottom: 0;
  padding-left: 20px;
}
.wrapper main .top_ban-container.lp-stocks .top_ban-desc ul li {
  margin-bottom: 10px;
}
.wrapper main .top_ban-container.lp-stocks .top_ban-desc ul li:last-child {
  margin-bottom: 0;
}
.wrapper main .ban_sapid-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}
.wrapper main .ban_sapid-box {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 0;
}
.wrapper main .ban_sapid-box-btn {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: default;
}
.wrapper main .ban_sapid-box-btn-img {
  width: 44px;
  height: 44px;
  margin-right: 20px;
}
.wrapper main .ban_sapid-box-btn-txt {
  font: 700 14px/20px 'Circe', 'Arial', sans-serif;
  text-transform: none;
  text-align: left;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-container {
  padding: 60px 0 100px;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-title {
  margin-bottom: 40px;
  font: 700 40px/56px 'Circe', 'Arial', sans-serif;
  text-align: center;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin-right: 70px;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-img img {
  width: 180px;
  height: 150px;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-box-txt {
  font: 700 22px/28px 'Circe', 'Arial', sans-serif;
  margin-top: 30px;
  text-align: center;
}
.wrapper main .page_content.page_content--lp-stocks .how_get_jump-box:last-child {
  margin-right: 0;
}
.wrapper main .page_content.page_content--lp-stocks .authorization-container {
  background: #f8f8f8;
  padding: 40px 0 50px;
  margin-bottom: 40px;
  text-align: center;
}
.wrapper main .page_content.page_content--lp-stocks .authorization-title {
  margin-bottom: 20px;
  font: 700 40px/56px 'Circe', 'Arial', sans-serif;
  text-align: center;
}
.wrapper main .page_content.page_content--lp-stocks .authorization-desc {
  width: 645px;
  font: 400 24px/30px 'Circe', 'Arial', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.wrapper main .page_content.page_content--lp-stocks .authorization-input_public_services {
  margin-bottom: 30px;
}
.wrapper main .page_content.page_content--lp-stocks .authorization-input_public_services a {
  display: inline-block;
  font: 400 20px/22px 'Circe', 'Arial', sans-serif;
  color: #4A7CBD;
  padding: 20px 60px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
          box-shadow: 0px 3px 30px rgba(135, 151, 155, 0.15);
  border-radius: 8px;
  text-decoration: none;
}
.wrapper main .page_content.page_content--lp-stocks .authorization-input_public_services a img {
  width: 42px;
  height: 42px;
  margin-right: 20px;
}
.wrapper main .ui-check-label {
  font: 400 14px/20px 'Circe', 'Arial', sans-serif;
  color: #666;
  text-align: left;
}
.wrapper main .ui-check a {
  color: #fe5000;
  text-decoration: none;
}
