@orange: #fe5000;

@media (max-width: 1259px) {
  .wrapper {
    main {
      .page_content.page_content--lp-stocks {
      }
    }
  }
}

@media (max-width: 999px) {
  .wrapper {
    main {
      .top_ban-container.lp-stocks {
        .top_ban {
          &-wrapper {
            height: 380px;
            .inner {
              padding-top: 70px;
            }
          }
          &-desc {
            margin-top: 15px;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            ul {
              li {
                margin-bottom: 15px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
          &-btns {
            margin-top: 40px;
          }
        }
      }
      .page_content.page_content--lp-stocks {
       
        .how_get_jump {
          &-container {
            padding: 50px 0 80px;
          }
          &-title {
            font-size: 32px;
            line-height: 44px;
          }
          &-box {
            width: 230px;
            margin-right: 30px;
            &-img {
              img {
                width: 150px;
                height: 125px;
              }
            }
            &-txt {
             font-size: 20px;
             line-height: 26px;
              margin-top: 25px;
              br {
                display: none;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .authorization {
          &-container {
          }
          &-title {
            font-size: 32px;
            line-height: 44px;
          }
          &-desc {
            margin-bottom: 30px;
            font-size: 22px;
            line-height: 28px;
          }
          &-input_public_services {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    main {
      .top_ban-container.lp-stocks {
        .top_ban {
          &-wrapper {
            height: 240px;
            .inner {
              padding-top: 40px;
            }
          }
          &-title-big {
            width: 155px;
          }
          &-desc {
            display: none;
          }
          &-btns {
            margin-top: auto;
          }
        }
      }
      .ban_sapid {
        &-container {
          display: flex;
        }
      }

      .page_content.page_content--lp-stocks{
    
        .how_get_jump {
          &-container {
            padding: 40px 0 60px;
          }
          &-title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;
          }
          &-row {
            justify-content: flex-start;
            flex-direction: unset;
            flex-wrap: wrap;
          }
          &-box {
            justify-content: flex-start;
            flex-direction: unset;
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            &-img {
              margin-right: 15px;
              img {
                width: 90px;
                height: 75px;
              }
            }
            &-txt {
             font-size: 18px;
             line-height: 24px;
             text-align: left;
              margin-top: 0;
              br {
                display: none;
              }
            }
            &:last-child {
              margin-right: 0;
              margin-bottom: 0;
            }
          }
        }
        .authorization {
          &-container {
          }
          &-title {
            font-size: 32px;
            line-height: 44px;
          }
          &-desc {
            margin-bottom: 30px;
            font-size: 22px;
            line-height: 28px;
          }
          &-input_public_services {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .wrapper {
    main {
      .page_content.page_content--lp-stocks {
        .how_get_jump {
          &-box {
            &-txt {
              width: 250px;
              br {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .wrapper {
    main {
      .page_content.page_content--children-card {
        .calc-result-img {
          right: 0;
        }
      }
    }
  }
}
